<div class="address-create-edit-container create-edit-container">
    <div class="address-create-edit create-edit"> 
        <div 
            class="callout sticky text-center fade"
            ng-class="{'success success-text': UI.message,
            'alert alert-text': UI.errMessage}"
            ng-hide="!UI.message.length &&
            !UI.errMessage.length"
        >
            <p ng-if="UI.message.length">
                {{UI.message}}
            </p>
            <p ng-if="UI.errMessage.length">
                {{UI.errMessage}}
            </p>
        </div>       
        <form
            class="address-form golura-form"
            id="addressForm"
            name="addressForm"
            ng-submit="createAddress($event, address)"
            golura-form-validation
        >
            <h1>
                <b>
                    New Address
                </b>
            </h1>
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 medium-12 large-12">
                    <div class="input-container">
                        <label>   
                            Title
                            <span>
                                *
                            </span>
                        </label>
                        <input
                            class="form-input"
                            type="text"
                            id="addressTitle"
                            name="addressTitle"
                            placeholder="Johnny's Home Address"
                            ng-model="address.title"
                            autocomplete="off"
                            required
                        />
                    </div>
                </div>
                <div class="cell small-12 medium-8 large-8">
                    <div class="input-container">
                        <label>
                            Street 1
                            <span>
                                *
                            </span>
                        </label>
                        <address-lookup 
                            input-id="dynamicAddressField1" 
                            address="address" 
                            ng-model="address.street1"
                            required
                            states="states"
                        >
                        </address-lookup>
                    </div>
                </div>
                <div class="cell small-12 medium-4 large-4">
                    <div class="input-container">
                        <label>
                            Street 2
                        </label>
                        <input 
                            type="text" 
                            class="form-input"
                            id="addressFormStreet2Input"
                            name="addressFormStreet2Input"
                            ng-model="address.street2"
                            placeholder="Suite 123"
                            autocomplete="off"
                        />
                    </div>
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <div 
                        class="input-container"
                        ng-class="{'disabled': !UI.unlockAddress}"
                    >
                        <label>
                            City
                            <span>
                                *
                            </span>
                        </label>
                        <input 
                            type="text" 
                            class="form-input"
                            id="addressFormCityInput"
                            name="addressFormCityInput"
                            ng-model="address.city"
                            ng-disabled="!UI.unlockAddress"
                            placeholder="Wonderland"
                            autocomplete="off"
                            required
                        />
                    </div>
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-12 medium-4 large-4">
                            <div 
                                class="input-container"
                                ng-class="{'disabled': !UI.unlockAddress}"
                            >
                                <label>
                                    State
                                    <span>
                                        *
                                    </span>
                                </label>
                                <selectize
                                    class="states-input form-input"
                                    config="stateOptions"
                                    options="states"
                                    id="addressFormStateInput"
                                    name="addressFormStateInput"
                                    ng-model="address.stateId"
                                    ng-disabled="!UI.unlockAddress"
                                    autocomplete="off"
                                    required
                                >
                                </selectize>
                            </div>
                        </div>
                        <div class="cell auto">
                            <div 
                                class="input-container"
                                ng-class="{'disabled': !UI.unlockAddress}"
                            >
                                <label>
                                    Zip Code
                                    <span>
                                        *
                                    </span>
                                </label>
                                <input 
                                    type="text" 
                                    class="form-input"
                                    name="newZipCode"
                                    ng-model="address.zipCode"
                                    placeholder="123456"
                                    ui-mask="99999"
                                    ui-mask-placeholder 
                                    ui-mask-placeholder-char="_"
                                    autocomplete="off"
                                    ng-disabled="!UI.unlockAddress"
                                    required
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell small-12 medium-12 large-12 text-right">
                    <button 
                        class="address-form-submit-button submit-button success button white-text" 
                        id="AddressFormSubmitButton"
                        type="submit"
                        ng-disabled="UI.formSaving"
                        ng-class="{'form-success-saving': UI.addressSaving}"
                    >
                        <span ng-if="!UI.formSaving">
                            <i class="fal fa-save"></i> Save
                        </span>
                        <span ng-if="UI.formSaving">
                            Please Wait...
                        </span>
                    </button>
                    <button
                        class="back-button button warning white-text"
                        type="button"
                        ng-click="UI.createAddress = !UI.createAddress"
                    >
                        <i class="fal fa-times-circle"></i> Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>