<div class="notifications-container">
    <ul 
        class="notifications-list"
        ng-class="{'ssc': !UI.notificationsLoaded}"
    >
        <li 
            class="ssc-square"
            ng-repeat="x in [].constructor(10) track by $index"
            ng-if="!UI.notificationsLoaded"
        ></li>
        <li 
            class="notifications-list-item"
            ng-repeat="notification in notifications track by notification.id"
            ng-include="'dist/partials/general/notification.html'"
        >
        </li>
    </ul>
    <div 
        class="notifications-empty-container text-center"
        ng-if="UI.notificationsLoaded && !notifications.length"
    >
        <h4>
            <b>Wow!</b> There are no Notifications. 
            <br/>
            Check back later!
        </h4>
    </div>
</div>