<div class="todo-list-container list-container">
    <ul 
        class="todo-list list accordion"
        id="todoListsList"
        data-accordion
        data-deep-link="false"
        data-allow-all-closed="true"
    >
        <li ng-if="!UI.toDosLoaded">
            <div class="ssc todo-lists-ssc">
                <div 
                    class="ssc-square"
                    ng-repeat="x in [].constructor(40) track by $index"
                ></div>
            </div>
        </li>
        <li
            class="todo-list-item list-item position-relative accordion-item" 
            data-accordion-item
            ng-repeat="toDo in filteredToDoLists =
            (toDos | filter:search.toDos.value) track by $index"
            ng-class="{'is-active': toDo.show}"
        >
            <div class="grid-x grid-padding-x align-middle">
                <div class="cell small-12 medium-auto large-auto">
                    <a 
                        class="todo-list-item-title accordion-title"
                        href="#" 
                        ng-click="toDo.show = !toDo.show"
                    >
                        <h4 title="{{toDo.description}}">
                            <b>{{toDo.name}}</b>
                        </h4>
                    </a>
                </div>
                <div 
                    class="cell small-12 medium-shrink large-shrink text-right"
                    ng-if="!UI.checklistLoaded"
                >
                    <div class="button-group">
                        <button 
                            class="todo-list-item-edit-button button white-text"
                            type="button"
                            ng-click="initToDoListForm(toDo)"
                        >
                            <i class="fal fa-edit"></i> Edit
                        </button>
                        <button 
                            class="todo-list-item-delete-button button alert white-text"
                            type="button"
                            ng-click="deleteTodoList(toDo)"
                        >
                            <i class="fal fa-archive"></i> Delete
                        </button>
                    </div>
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <div 
                        class="todo-list-item-content accordion-content" 
                        ng-class="{'visible': toDo.show}"
                        data-tab-content
                    >
                        <div ng-include="'dist/partials/general/to-do.html'"></div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div
    class="todo-list-item-image-view-reveal image-reveal media-reveal reveal"
    ng-class="{'full': image.fullscreen}"
    id="todoTaskListItemImageViewReveal"
    data-reveal
    data-close-on-click="false"
>
    <button 
        class="close-button" 
        aria-label="closeTodoTaskListItemImageViewReveal"
        type="button" 
        ng-class="{'full': image.fullscreen}"
        data-close
    >
        <span aria-hidden="true">
            <i class="fal fa-times-circle"></i>
        </span>
    </button>
    <div 
        class="golura-block"
        ng-include="'dist/partials/media/image-viewer.html'"
    ></div>
</div>