
<div class="document-viewer-container media-viewer-container">
    <div class="document-viewer media-viewer">
        <div 
            class="golura-block grid-x align-middle align-center"
            ng-if="isSupported(document)"
        >
            <div class="cell small-12 medium-6 large-6 text-center">
                <h2 class="white-text">
                    <b>Hey! </b>
                    This document has opened in a new tab.
                </h2>
            </div>
        </div>
        <div class="button-container">
            <button 
                class="download-button button white-button" 
                type="button" 
                ng-click="$root.downloadFromUrl(document.url)"
                ng-if="!document.options"
            >
                <b>
                    <i class="fal fa-cloud-arrow-down"></i> 
                    <span ng-if="!$root.UI.isMobile">
                        Download
                    </span>
                </b>
            </button>
            <button 
                class="download-button button warning white-text"
                type="button"
                ng-class="{'float-right': $root.UI.isMobile,
                'white-text': !$root.UI.isMobile}"
                ng-click="document.options = !document.options"
                ng-if="!document.options"
            >
                <b>
                    <i class="fal fa-gear"></i> 
                    <span ng-if="!$root.UI.isMobile">
                        Options
                    </span>
                </b>
            </button>
        </div>
        <div 
            class="media-options-overlay media-overlay black-overlay"
            ng-if="document.options"
        >
            <div class="media-overlay-content">
                <div ng-include="'dist/partials/media/document-details.html'"></div>
            </div>
        </div>        
        <div 
            class="document-delete-confirm-overlay media-overlay black-overlay"
            ng-if="document.delete"
            ng-init="document.options = false"
        >
            <div class="media-overlay-content">
                <div class="golura-block grid-x grid-padding-x align-center-middle text-center">
                    <div class="cell small-12 medium-shrink large-shrink">
                        <span class="delete-icon">
                            <i class="fal fa-circle-exclamation"></i>
                        </span>
                    </div>
                    <div class="cell small-12 medium-shrink large-shrink">
                        <h4>
                            <b class="alert-text">Warning: </b>
                            <span class="white-text">Are you sure you want to Delete 
                                this Document?
                            </span>
                        </h4>
                    </div>
                    <div class="cell small-12 medium-12 large-12">
                        <button 
                            class="delete-estimate-button button alert white-text"
                            type="button"
                            ng-disabled="documentDeleting"
                            ng-class="{'form-alert': documentDeleting}"
                            ng-click="deleteDocument(document)"
                        >
                            <span ng-if="!documentDeleting">
                                <i class="fal fa-check-circle"></i> Confirm
                            </span>
                            <span ng-if="documentDeleting">
                                Please Wait...
                            </span>
                        </button>
                        <button 
                            class="cancel-button button warning white-text"
                            type="button"
                            ng-click="document.delete = !document.delete"
                        >
                            <i class="fal fa-times-circle"></i> Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>