$dark-nav-color: #2C3840;
$emerald-green: #50C878;
$teal-blue: #008080;
$deep-purple: #6A0DAD;
$coral-pink: #FF7F50;
$aurora-yellow: #FFD700;
$teal: #51b9a3;
$orange: #f46524;
$red: #f46524;
$dusky-rose-red: #c95c76;
$green: #99c625;
$paris-green: #33d391;
$blue: #005ba0;
$golura-pink: #ff957d;
$golura-blue: #3f3faa;
$imessage-blue: #1982FC;
$man-drake-blue: #8488a0;
$old-mill-blue: #6f7182;
$mist-blue: #6c7085;
$plaza-blue: #282a3d;
$comet-blue: #5c5e79;
$off-blue: #626f8f;
$waikawa-blue: #66759c;
$limed-spruce-blue: #393a53;
$outer-space-blue: #30324e;
$mirage-blue: #1b2431;
$nile-blue: #292f4c;
$mulled-wine-blue: #404b69;
$hormagaunt-purple: #54576b;
$pure-white: #ffffff;
$harvest-gold: #ffb401;
$saffron-mango-gold: #fdbc64;
$russian-black: #00041e;
$black: $russian-black;
$off-white: #f5f5f7;
$bright-gray: #edebf2;
$briquette-gray: #515151;
$regent-gray: #9aa7ad;
$sonic-silver: #767676;
$transparent: transparent;
$dm-background: #1a1e28;
$dm-off-white: #252a35;
$dm-light-gray: #3a4050;
$dm-medium-gray: #4e5568;
$dm-dark-gray: #6f768a;