@font-face {
    font-family: 'Montserrat';
    src: url('/dist/assets/fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('/dist/assets/fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/dist/assets/fonts/montserrat-italic-webfont.woff2') format('woff2'),
         url('/dist/assets/fonts/montserrat-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/dist/assets/fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('/dist/assets/fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/dist/assets/fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('/dist/assets/fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/dist/assets/fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('/dist/assets/fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/dist/assets/fonts/montserrat-thin-webfont.woff2') format('woff2'),
         url('/dist/assets/fonts/montserrat-thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
