<div class="four-zero-four-container">
    <div class="four-zero-four text-center">
        <div class="four-zero-four-image image"></div>
        <h1>
            <b>
                UH OH!
            </b>
        </h1>
        <h6>
            We couldnt find this!
            <br/>
            If this is a mistake please let your Administrator know so they can correct it.
        </h6>
        <button 
            class="delete-button button alert white-text" 
            type="button"
            ng-click="$root.goBack()"
        >
            <i class="fal fa-circle-arrow-left"></i> Go Back
        </button>
    </div>
</div>