<div class="permission-denied-container">
    <div class="permission-denied text-center">
        <div class="permission-denied-image image"></div>
        <h1>
            <b>
                OOPS!
            </b>
        </h1>
        <h6>
            Looks like your not authorized to view this!
            <br/>
            If this is a mistake please let your Administrator know so they can correct it.
        </h6>
        <button 
            class="delete-button button alert white-text" 
            type="button"
            ng-click="$root.goBack()"
        >
            <i class="fal fa-circle-arrow-left"></i> Go Back
        </button>
    </div>
</div>