<div 
    class="users-container"
    ng-init="initUsers()"
>
    <user-onboarding page-name="users" auto-start="true"></user-onboarding>
    <div class="users">
        <div format-users users="users"></div>
        <div class="golura-block grid-y">
            <div class="cell shrink position-relative">
                <div class="users-search-container list-search-container">
                    <div class="users-search list-search">
                        <div class="search-input-container">
                            <div class="grid-x align-middle">
                                <div class="cell auto align-self-bottom">
                                    <input
                                        class="users-search-input search-input"
                                        id="usersSearchInput" 
                                        type="text"
                                        placeholder="Search Users..."
                                        ng-model="search.users.value"
                                    />
                                </div>
                                <div class="cell shrink large-shrink align-self-bottom">
                                    <span class="search-icon">
                                        <i class="fal fa-search"></i>
                                    </span>
                                </div>
                                <div 
                                    class="cell shrink"
                                    ng-if="!$root.UI.isMobile"
                                >
                                    <div class="sort-input-container">
                                        <div class="grid-x">
                                            <div class="cell auto">
                                                <selectize
                                                    class="users-search-sort-input form-input sort-input"
                                                    id="userSearchSortInput"
                                                    config="sortOptions"
                                                    options="usersOptions"
                                                    ng-model="sort.users.id"
                                                    ng-change="orderBy(sort.users.id)"
                                                    ng-cloak
                                                >
                                                </selectize>
                                            </div>
                                            <div class="cell shrink">
                                                <span class="sort-icon">
                                                    <i class="fal fa-sort"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div 
                                    class="cell shrink"
                                    ng-if="permissions.canCreate"
                                >
                                    <div class="users-search-create-button-container create-button-container">
                                        <a 
                                            class="users-search-create-button submit-button create-button button success white-text"
                                            id="userSearchCreateButton"
                                            type="button"
                                            ng-href="users/user"
                                        >
                                            <i class="fal fa-layer-plus"></i>
                                            <span ng-if="!$root.UI.isMobile">
                                                Create
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div 
                class="cell shrink"
                ng-if="!$root.UI.isMobile"
            >
                <div class="users-list-header-container list-header-container">
                    <div class="users-list-header list-header">
                        <div class="grid-x grid-padding-x align-middle align-left">
                            <div class="cell small-12 medium-2 large-2">
                                <h3>
                                    <b>Name</b>
                                </h3>
                            </div>
                            <div class="cell small-12 medium-auto large-auto">
                                <h3>
                                    <b>Role</b>
                                </h3>
                            </div>
                            <div class="cell small-12 medium-auto large-auto">
                                <h3>
                                    <b>Last Seen</b>
                                </h3>
                            </div>
                            <div class="cell small-12 medium-auto large-auto">
                                <h3>
                                    <b>Created</b>
                                </h3>
                            </div>
                            <div 
                                class="cell small-12 medium-auto large-auto"
                                ng-if="permissions.canCreate"
                            >
                                <h3 class="list-header-options">
                                    <b>Options</b>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell auto overflow-scroll">
                <div class="users-list-container list-container">
                    <ul 
                        class="users-list list"
                        id="usersList"
                    >
                        <li ng-if="!UI.usersLoaded">
                            <div class="ssc users-ssc">
                                <div 
                                    class="ssc-square"
                                    ng-repeat="x in [].constructor(40) track by $index"
                                ></div>
                            </div>
                        </li>
                        <li
                            class="users-list-item list-item position-relative"
                            ng-repeat="user in filteredUsers = 
                            (users | filter:search.users.value) |
                            orderBy: sort.users.value |
                            limitTo: UI.usersDisplayed track by $index"
                            ng-class="{'selected': user.selected}"
                        >
                            <div class="grid-x grid-padding-x align-middle">
                                <div class="cell small-12 medium-2 large-2">
                                    <div class="grid-x align-middle">
                                        <div class="cell shrink">
                                            <user-icon user="user"></user-icon>
                                        </div>
                                        <div class="cell auto">
                                            <h6 class="users-list-item-name list-item-name">
                                                <a ng-href="users/user/{{user.id}}">
                                                    {{user.fullName}}
                                                </a>
                                                <span 
                                                    class="user-online-icon"
                                                    ng-class="{
                                                        'success-background': user.online,
                                                        'light-gray-background': !user.online
                                                    }"
                                                ></span>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="cell small-12 medium-auto large-auto">
                                    <h6 class="users-list-item-role text-capitalize">
                                        <b ng-if="$root.UI.isMobile">
                                            Role: 
                                        </b>
                                        {{user.Role.name}}
                                    </h6>
                                </div>
                                <div class="cell small-12 medium-auto large-auto">
                                    <h6>
                                        <b ng-if="$root.UI.isMobile">
                                            Last Seen: 
                                        </b>
                                        <span ng-if="user.lastSeen">
                                            {{user.lastSeen | DateTimeFormat}}
                                        </span>
                                        <span ng-if="!user.lastSeen">
                                            never
                                        </span>
                                    </h6>
                                </div>
                                <div class="cell small-12 medium-auto large-auto">
                                    <h6>
                                        <b ng-if="$root.UI.isMobile">
                                            Created: 
                                        </b>
                                        {{user.createdAt | DateTimeFormat}}
                                    </h6>
                                </div>
                                <div class="cell small-12 medium-auto large-auto">
                                    <div 
                                        class="list-item-options-container"
                                        ng-class="{'text-right': $root.UI.isMobile}"
                                    >
                                        <a 
                                            class="list-item-options-button button success white-text"
                                            ng-href="users/user/{{user.id}}"
                                            ng-if="permissions.canView"
                                            ng-cloak
                                        >
                                            <i class="fal fa-search"></i>
                                            <span ng-if="!$root.UI.isMobile">
                                                View
                                            </span>
                                        </a>
                                        <a 
                                            class="list-item-options-button button white-text"
                                            ng-href="users/user/{{user.id}}/edit"
                                            ng-if="permissions.canEdit"
                                            ng-cloak
                                        >
                                            <i class="fal fa-edit"></i>
                                            <span ng-if="!$root.UI.isMobile">
                                                Edit
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li 
                            class="users-list-infinite-scroll text-center"
                            id="usersListInfiniteScroll"
                            ng-init="initInfiniteScroll()"
                            ng-show="filteredUsers.length > 20"
                            ng-click="updateUsersDisplayed()"
                        >
                            <div class="dispatch-loader"></div>
                        </li>
                        <li 
                            class="list-empty text-center"
                            ng-show="!filteredUsers.length"
                        >
                            <div class="grid-container">
                                <h3>
                                    <b>Oops! </b>
                                    Looks like we can't find them!
                                    <br/>
                                    if you still can't find the User you're looking, 
                                    try to double check your spelling!
                                    
                                </h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>