
<div class="view-event-details-option-container">
    <div class="grid-y">
        <div class="cell shrink">
            <div ng-include="'/dist/navigations/event-navigation.html'"></div>
        </div>
        <div class="cell shrink">
            <div class="view-event-details-comment-container">
                <full-text-area 
                    placeholder="Write a comment..."
                    ng-model="comment.comment" 
                    event-id="{{event.id || ''}}" 
                    estimate-id="{{estimate.id || ''}}" 
                    work-order-id="{{workOrder.id || ''}}" 
                    client="{{workOrder.id || ''}}" 
                    invoice-id="{{invoice.id || ''}}" 
                    events="events || []" 
                    estimates="estimates || []" 
                    work-orders="workOrders || []" 
                    invoices="invoices || []" 
                    comment="{{comment.id || ''}}" 
                    users="users || []"
                >
                </full-text-area>
            </div>
        </div>
        <div class="cell small-12 medium-12 large-12">
            <div class="view-event-details-comments-container">
                <h3>
                    <b>
                        Comments
                    </b>
                </h3>
                <div ng-include="'dist/partials/general/comments.html'"></div>
            </div>
        </div>
    </div>
</div>
<div
    class="invoice-creation-reveal reveal"
    id="invoiceCreationReveal"
    data-reveal
    data-close-on-click="false"
>
    <button 
        class="close-button" 
        aria-label="closeInvoiceCreationReveal" 
        type="button" 
        data-close
    >
        <span aria-hidden="true">
            <i class="fal fa-times-circle"></i>
        </span>
    </button>
    <div ng-include="'/dist/forms/invoices/ad-hoc-invoice-form.html'"></div>
</div>