<div class="folder-create-edit-container create-edit-container">
    <div 
        class="callout sticky text-center fade"
        ng-class="{'success success-text': UI.message,
        'alert alert-text': UI.errMessage}"
        ng-hide="!UI.message.length &&
        !UI.errMessage.length"
        ng-if="!UI.clientView"
    >
        <p ng-if="UI.message.length">
            {{UI.message}}
        </p>
        <p ng-if="UI.errMessage.length">
            {{UI.errMessage}}
        </p>
    </div> 
    <div class="folder-create-edit create-edit grid-container">
        <h1>
            <b ng-if="UI.newFolder">Create Folder</b>
            <b ng-if="!UI.newFolder">Edit Folder</b>
        </h1>
        <form 
            class="folder-form golura-form" 
            id="folderForm" 
            name="folderForm" 
            ng-submit="createFolder($event, newFolder)"
        >
            <div class="grid-x grid-margin-x align-middle">
                <div class="cell small-12 medium-12 large-12">
                    <h2><b>Details</b></h2>
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <div class="input-container">
                        <label>
                            Name
                            <span class="alert-text">*</span>
                        </label>
                        <input 
                            class="form-input" 
                            type="text" 
                            name="name" 
                            placeholder="Folder Name" 
                            ng-model="newFolder.name" 
                            autocomplete="off"
                            required 
                        />
                    </div>
                </div>
                <div 
                    class="cell small-12 medium-12 large-12"
                    ng-if="!UI.newFolder" 
                >
                    <div class="folder-form-select-button-container select-container">
                        <div class="grid-x align-middle">
                            <div class="cell shrink text-right">
                                <button 
                                    class="folder-form-select-button select-button button"
                                    type="button"
                                    ng-click="UI.moveFolder = !UI.moveFolder"
                                    ng-class="{'selected': UI.moveFolder}"
                                >
                                    <div 
                                        class="check-icon"
                                        ng-if="UI.moveFolder"
                                    >
                                        <i class="fal fa-check"></i>
                                    </div>
                                </button>
                            </div>
                            <div class="cell auto">
                                <label>
                                    Move this folder?
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div 
                    class="cell small-12 medium-12 large-12"
                    ng-if="UI.moveFolder" 
                >
                    <div 
                        class="input-container"
                        ng-class="{'ssc': !UI.foldersLoaded}"
                    >
                        <div 
                            class="ssc-square"
                            ng-if="!UI.foldersLoaded"
                        ></div>
                        <label>
                            Parent Folder
                        </label>
                        <selectize
                            class="form-input"
                            config="folderOptions"
                            options="filteredFolders"
                            id="parentFolder"
                            name="parentFolder"
                            ng-model="newFolder.parentFolderId"
                            required
                        >
                        </selectize>
                    </div>
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <div class="input-container">
                        <label>
                            Description
                        </label>
                        <div class="form-textarea-container">
                            <textarea 
                                class="form-textarea" 
                                name="description" 
                                placeholder="Folder Description" 
                                ng-model="newFolder.description"
                            ></textarea>
                        </div>
                    </div>
                </div>
                <div class="cell small-12 medium-12 large-12 text-right">
                    <button 
                        class="folder-form-submit-button submit-button button" 
                        id="folderFormSubmitButton" 
                        type="submit" 
                        ng-disabled="UI.formSaving" 
                        ng-class="{'form-saving': UI.formSaving}"
                        ng-if="UI.newFolder"
                    >
                        <span ng-if="!UI.formSaving">
                            <i class="fal fa-save"></i> Save
                        </span>
                        <span ng-if="UI.formSaving">
                            Please Wait...
                        </span>
                    </button>
                    <button
                        class="folder-form-edit-submit-button submit-button button" 
                        id="folderFormEditSubmitButton" 
                        type="button" 
                        ng-disabled="UI.formSaving" 
                        ng-class="{'form-saving': UI.formSaving}" 
                        ng-click="updateFolder(folder)" 
                        ng-if="!UI.newFolder"
                    >
                        <span ng-if="!UI.formSaving">
                            <i class="fal fa-check-circle"></i> 
                            Update
                        </span>
                        <span ng-if="UI.formSaving">
                            Please Wait...
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
