<div 
    class="variables-container admin-container"
    ng-init="initVariables()"
>
    <div class="variables admin">
        <div 
            class="callout sticky text-center fade"
            ng-class="{'success success-text': UI.message,
            'alert alert-text': UI.errMessage}"
            ng-hide="!UI.message.length &&
            !UI.errMessage.length"
        >
            <p ng-if="UI.message.length">
                {{UI.message}}
            </p>
            <p ng-if="UI.errMessage.length">
                {{UI.errMessage}}
            </p>
        </div> 
        <div class="golura-block grid-y">
            <div class="cell shrink position-relative">
                <div class="variables-search-container list-search-container">
                    <div class="variables-search list-search">
                        <div class="search-input-container">
                            <div class="grid-x align-middle">
                                <div class="cell shrink">
                                    <div class="variables-search-create-button-container create-button-container">
                                        <a 
                                            class="estimate-progression-create-button create-button submit-button button warning white-text" 
                                            ng-click="$root.goBack()"
                                        >
                                            <i class="fal fa-circle-arrow-left"></i> 
                                            <span ng-if="!$root.UI.isMobile">
                                                Back
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="cell auto align-self-bottom">
                                    <input
                                        class="variables-search-input search-input"
                                        id="variablesSearchInput" 
                                        type="text"
                                        placeholder="Search Variables..."
                                        ng-model="search.variables.value"
                                    />
                                </div>
                                <div class="cell shrink align-self-bottom">
                                    <span class="search-icon">
                                        <i class="fal fa-search"></i>
                                    </span>
                                </div>
                                <div class="cell shrink">
                                    <div class="variables-search-create-button-container create-button-container">
                                        <button 
                                            class="estimate-progression-create-button create-button submit-button button success white-text" 
                                            id="variableCreateButton"
                                            type="button"
                                            ng-click="initVariableForm()"
                                            data-open="variableFormReveal"
                                        >
                                            <i class="fal fa-layer-plus"></i> 
                                            <span ng-if="!$root.UI.isMobile">
                                                Create
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div 
                class="cell shrink"
                ng-if="!$root.UI.isMobile"
            >
                <div class="variables-list-header-container list-header-container">
                    <div class="variables-list-header list-header">
                        <div class="grid-x grid-padding-x align-middle align-left">
                            <div class="cell small-12 medium-3 large-3">
                                <h3>
                                    <b>
                                        Name 
                                    </b>
                                </h3>
                            </div>
                            <div class="cell small-12 medium-auto large-auto">
                                <h3>
                                    <b>Value</b>
                                </h3>
                            </div>
                            <div class="cell small-12 medium-auto large-auto">
                                <h3>
                                    <b>Created</b>
                                </h3>
                            </div>
                            <div class="cell small-12 medium-auto large-auto">
                                <h3 class="variables-list-header-options">
                                    <b>Options</b>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div 
                class="cell small-12 medium-auto large-auto"
                ng-class="{'overflow-scroll': !$root.UI.isMobile}"
            >
                <div class="variables-list-container list-container">
                    <ul 
                        class="variables-list list"
                        id="variablesList"
                    >
                        <li ng-show="!UI.variablesLoaded">
                            <div class="ssc variables-ssc">
                                <div 
                                    class="ssc-square"
                                    ng-repeat="x in [].constructor(40) track by $index"
                                ></div>
                            </div>
                        </li>
                        <li
                            class="variables-list-item list-item position-relative"
                            ng-repeat="variable in filteredVariables = 
                            (variables | filter:search.variables.value) |
                            orderBy: sort.progress.value track by $index"
                        >
                            <div class="grid-x grid-padding-x align-middle">
                                <div class="cell small-12 medium-3 large-3">
                                    <h6 
                                        class="variables-list-item-name"
                                        title="{{variable.description}}"
                                    >
                                        <b ng-if="$root.UI.isMobile">
                                            Name:
                                        </b>
                                        {{variable.name}}
                                    </h6>
                                </div>
                                <div class="cell small-12 medium-auto large-auto">
                                    <h6>
                                        <b ng-if="$root.UI.isMobile">
                                            Value:
                                        </b>
                                        {{variable.value}}
                                    </h6>
                                </div>
                                <div class="cell small-12 medium-auto large-auto">
                                    <h6>
                                        <b ng-if="$root.UI.isMobile">
                                            Created:
                                        </b>
                                        {{variable.createdAt | DateTimeFormat}}
                                    </h6>
                                </div>
                                <div class="cell small-12 medium-auto large-auto">
                                    <div class="list-item-options-container">
                                        <div 
                                            class="button-group"
                                            ng-class="{'align-right': $root.UI.isMobile}"
                                        >
                                            <a 
                                                class="list-item-options-button button white-text"
                                                ng-click="initVariableForm(variable)"
                                                data-open="variableFormReveal"
                                                ng-cloak
                                            >
                                                <i class="fal fa-edit"></i>
                                                <span ng-if="!$root.UI.isMobile">
                                                    Edit
                                                </span>
                                            </a>
                                            <button 
                                                class="list-item-options-button button alert white-text"
                                                type="button"
                                                ng-click="variable.delete = !variable.delete"
                                            >
                                                <i class="fal fa-archive"></i>
                                                <span ng-if="!$root.UI.isMobile">
                                                    Delete
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div 
                                class="variables-list-item-delete-container list-item-delete-container black-overlay"
                                ng-if="variable.delete"
                            >
                                <div class="grid-x grid-padding-x align-middle">
                                    <div class="cell small-12 medium-auto large-auto text-center">
                                        <h4>
                                            <b class="alert-text">Warning: </b>
                                            <span class="white-text">Are you sure you want to delete 
                                                this Variable?
                                            </span>
                                        </h4>
                                    </div>
                                    <div class="cell small-12 medium-auto large-auto">
                                        <button 
                                            class="variables-list-item-options-button button alert white-text"
                                            type="button"
                                            ng-disabled="UI.formSaving"
                                            ng-class="{'form-alert': UI.formSaving}"
                                            ng-click="deleteVariable(variable)"
                                        >
                                            <span ng-if="!UI.formSaving">
                                                <i class="fal fa-check-circle"></i> Confirm
                                            </span>
                                            <span ng-if="UI.formSaving">
                                                Please Wait...
                                            </span>
                                        </button>
                                        <button 
                                            class="variables-list-item-options-button button warning white-text"
                                            type="button"
                                            ng-click="variable.delete = !variable.delete"
                                        >
                                            <i class="fal fa-times-circle"></i> Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li 
                            class="variables-list-infinite-scroll text-center"
                            id="variablesListInfiniteScroll"
                            ng-init="initInfiniteScroll()"
                            ng-show="filteredVariables.length > 20"
                            ng-click="updateVariablesDisplayed()"
                        >
                            <div class="dispatch-loader"></div>
                        </li>
                        <li 
                            class="list-empty text-center"
                            ng-if="filteredVariables.length == 0 &&
                            UI.variablesLoaded"
                        >
                            <div class="grid-container">
                                <h3>
                                    <b>Oops! </b>
                                    Looks like we can't find them or there aren't any!
                                    <br/>
                                    if you still can't find the Variable you're looking, 
                                    try to double check your spelling!
                                    
                                </h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div
    class="variable-form-reveal reveal"
    id="variableFormReveal"
    data-reveal
    data-close-on-click="false"
>
    <button 
        class="close-button" 
        aria-label="closeVariableFormReveal" 
        type="button" 
        data-close
    >
        <span aria-hidden="true">
            <i class="fal fa-times-circle"></i>
        </span>
    </button>
    <div ng-include="'dist/forms/admin/variable-form.html'"></div>
</div>