@include breakpoint(small only) {

    .clients-container {

        .clients {

            .clients-list-container {

                .clients-list {

                    .clients-list-item {
                        
                        .clients-list-item-name {
                            font-size: 1.25rem;
                        }
                    }
                }
            }
        }
    }
    .view-client-container {

        .view-client {

            &.view-client-activity {
                
                .mobile-navigation-breadcrumbs {
                    background: var(--white);
                    padding: 1rem;
                }
                .view-client-activity-top-bar-container {
                    padding: 0px 2rem;
                }
                .view-client-activity-list-container {

                    .view-client-activity-list {

                        .view-client-activity-user-container {

                            .golura-user-icon-container {

                                .golura-user-icon {
                                    margin: 0px;
                                }
                            }
                        }
                    }
                }
            }
            &.view-client-photos {

                .view-client-photos-folders-container {

                    .view-client-photos-folders-button {
                        margin: 0px 0px 1rem 0px;
                    }
                }
            }
            &.view-client-events,
            &.view-client-work-orders,
            &.view-client-invoices {

                .view-client-events-create-event-button,
                .view-client-work-orders-create-work-order-button,
                .view-client-invoices-create-invoice-button {
                    margin-right: 0px;
                }
                .view-client-events-details {

                    .view-client-upcoming-events-list {
                        padding: 0px;
                    }
                }
                .view-client-work-orders-list-container,
                .view-client-invoices-list-container {
                    height: auto;
                }
            }
            .view-client-details-option-container {

                .view-client-details-options {
                    border: none;

                    .view-client-details-tabs-list{
                        background: $transparent;
                        border: none;
                        

                        .view-client-details-tabs-title {
                            margin-bottom: 1rem;
                            border: 1px solid var(--light-gray);
                            border-radius: $container-radius;
                            background: var(--white);

                            &.is-active {
                                background: var(--light-gray);

                                .view-client-details-tabs-title-link {
                                    border-bottom: 1px solid var(--light-gray);
                                    color: var(--primary-color);
                                }
                            }
                            .view-client-details-tabs-title-link {
                                color: var(--alt-font-color-2);
                                font-size: 1rem;
                                border: none;
                                border-radius: 0px;
                                padding: 2rem 1rem;
                                background: $transparent;
                                font-weight: bolder;
                            }

                            .view-client-details-tabs-panel{
                                border: none;
                                border-bottom-right-radius: $container-radius;
                                border-bottom-left-radius: $container-radius;

                                .estimate-form-sidebar-client {

                                    h6 {
                                        font-size: .75rem;
                                    }
                                }
                                .view-client-details-list {
                                    padding: 1rem;
                                    margin: 0px;
                                }
                            }
                        }
                    }
                }
            }
            .view-client-primary-details-container {

                .view-client-primary-details {

                    .golura-user-icon-container {
                        display: none;
                    }
                }
            }
        }
    }
    .estimate-creation-reveal {

        .estimate-creation-options-container {

            .estimate-creation-option {
                margin-bottom: 1rem;
            }
        }
    }
    .view-client-options-mobile  {

        .view-client-media-option-list {
            border: none;
            padding: 0px;
        }
    }
}