@include breakpoint(small only) {
    .dashboard-container {
        height: 100%;

        .dashboard {
            height: 100%;

            .dashboard-grid-stack-container {
                height: 100%;
                overflow: scroll;
            }
        }
    }
}