// Mobile Inventory Page Styles
@include breakpoint(small only) {
    .inventory-container {
        
        .inventory {
            overflow: auto;

            .inventory-tabs-container {

                .inventory-tabs {

                    .inventory-tabs-list {
                        background: $transparent;
                        border: none;
                        
                        .inventory-tabs-title {
                            margin-bottom: 1rem;
                            border: 1px solid var(--light-gray);
                            border-radius: $container-radius;
                            background: var(--white);

                            &.is-active {
                                background: var(--light-gray);

                                .inventory-tabs-title-link{
                                    border-bottom: 1px solid var(--light-gray);
                                    color: var(--primary-color);
                                }
                            }

                            .inventory-tabs-title-link {
                                color: var(--alt-font-color-2);
                                font-size: 1rem;
                                border: none;
                                border-radius: 0px;
                                padding: 2rem 1rem;
                                background: $transparent;
                                font-weight: bolder;
                            }

                            .inventory-tabs-panel {
                                border: none;
                                border-bottom-right-radius: $container-radius;
                                border-bottom-left-radius: $container-radius;
                                padding: 0px;
                            }
                        }
                    }
                }
            }
            .inventory-tabs-content {
                padding: 1rem 0;
                
                .inventory-tabs-panel {
                    padding: 0;
                }
            }
        }
    }
}
