// Mobile Admin Page Styles
@include breakpoint(small only) {
    .admin-container {

        .admin {
            overflow: auto;

            .admin-tabs-container {
                background: var(--off-white);

                .admin-tabs {

                    .admin-tabs-list {
                        background: $transparent;
                        border: none;
                        
                        .admin-tabs-title {
                            margin-bottom: 1rem;
                            border: 1px solid var(--light-gray);
                            border-radius: $container-radius;
                            background: var(--white);

                            &.is-active {
                                background: var(--light-gray);

                                .admin-tabs-title-link{
                                    border-bottom: 1px solid var(--light-gray);
                                    color: var(--primary-color);
                                }
                            }

                            .admin-tabs-title-link {
                                color: var(--alt-font-color-2);
                                font-size: 1rem;
                                border: none;
                                border-radius: 0px;
                                padding: 2rem 1rem;
                                background: $transparent;
                                font-weight: bolder;
                            }

                            .admin-tabs-panel {
                                border: none;
                                border-bottom-right-radius: $container-radius;
                                border-bottom-left-radius: $container-radius;
                                padding: 0px;

                                .estimator-options-button-container {
                                    padding: 1rem;
                                }
                            }
                        }
                    }
                }
            }
            .admin-tabs-content {
                padding: 1rem 0;
                
                .admin-tabs-panel {
                    padding: 0;
                }
            }
        }
        .view-question-container-rules-container {
            min-height: auto;
        }
    }
}
