<div class="inventory-row-container inventory-form-container create-edit-container">
    <div class="inventory-row inventory-form-details create-edit grid-container">
        <h1>
            <b ng-if="UI.newInventoryRow">
                Create Inventory Row
            </b>
            <b ng-if="!UI.newInventoryRow">
                Edit Inventory Row
            </b>
        </h1>
        <form 
            class="inventory-row-form inventory-form golura-form"
            id="inventoryRowForm"
            name="inventoryRowForm"
            ng-submit="createInventoryRow($event, inventoryRow)"
        >
            <div class="grid-x grid-margin-x align-middle">
                <div class="cell small-12 medium-12 large-12">
                    <h2>
                        <b>Details</b>
                    </h2>
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <div 
                        class="input-container"
                        ng-class="{'ssc': !UI.inventoryRowLoaded}"
                    >
                        <div 
                            class="ssc-square"
                            ng-if="!UI.inventoryRowLoaded"
                        ></div>
                        <label for="rowName">   
                            Name
                            <span class="alert-text">
                                *
                            </span>
                        </label>
                        <input
                            class="form-input"
                            type="text"
                            id="rowName"
                            name="rowName"
                            placeholder="Row name"
                            ng-model="inventoryRow.name"
                            autocomplete="off"
                            required
                        />
                    </div>
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <div 
                        class="input-container"
                        ng-class="{'ssc': !UI.inventoryRowLoaded}"
                    >
                        <div 
                            class="ssc-square"
                            ng-if="!UI.inventoryRowLoaded"
                        ></div>
                        <label>
                            Aisle
                            <span class="alert-text">
                                *
                            </span>
                        </label>
                        <selectize
                            class="form-input"
                            config="inventoryOptions"
                            options="inventoryAisles"
                            id="inventoryAisle"
                            name="inventoryAisle"
                            type="text"
                            ng-model="inventoryRow.inventoryAisleId"
                            required
                        >
                        </selectize>
                    </div>
                </div>
                <div 
                    class="cell small-12 medium-12 large-12"
                    ng-if="!UI.newInventoryRow"
                >
                    <div 
                        class="input-container"
                        ng-class="{'ssc': !UI.inventoryRowLoaded}"
                    >
                        <div 
                            class="ssc-square"
                            ng-if="!UI.inventoryRowLoaded"
                        ></div>
                        <label for="rowStep">   
                            Step
                            <span class="alert-text">
                                *
                            </span>
                        </label>
                        <input
                            class="form-input"
                            type="text"
                            id="rowStep"
                            name="rowStep"
                            placeholder="Row step"
                            ng-model="inventoryRow.step"
                            autocomplete="off"
                            required
                        />
                    </div>
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <div class="input-container">
                        <label>   
                            Description
                        </label>
                        <div class="form-textarea-container">
                            <textarea
                                class="form-textarea"
                                id="rowDescription"
                                name="rowDescriptionTextarea"
                                ng-model="inventoryRow.description"
                            ></textarea>
                        </div>
                    </div>
                </div>
                <div class="cell small-12 medium-12 large-12 text-right">
                    <button 
                        class="inventory-row-form-submit-button submit-button button" 
                        id="inventoryRowFormSubmitButton"
                        type="submit"
                        ng-disabled="UI.formSaving"
                        ng-class="{'form-saving': UI.formSaving}"
                        ng-if="UI.inventoryRowLoaded && UI.newInventoryRow"
                    >
                        <span ng-if="!UI.formSaving">
                            <i class="fal fa-save"></i> Save
                        </span>
                        <span ng-if="UI.formSaving">
                            Please Wait...
                        </span>
                    </button>
                    <button 
                        class="inventory-row-form-edit-submit-button submit-button button" 
                        id="inventoryRowFormUpdateButton"
                        type="button"
                        ng-disabled="UI.formSaving"
                        ng-class="{'form-saving': UI.formSaving}"
                        ng-click="updateInventoryRow(inventoryRow)"
                        ng-if="UI.inventoryRowLoaded && !UI.newInventoryRow"
                    >
                        <span ng-if="!UI.formSaving">
                            <i class="fal fa-check-circle"></i> Update
                        </span>
                        <span ng-if="UI.formSaving">
                            Please Wait...
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
