<div 
    class="inventory-item-container inventory-form-container create-edit-container"
    ng-init="initItemForm()"
>
    <a 
        class="items-create-button button warning white-text" 
        ng-click="$root.goBack()"
    >
        <i class="fal fa-circle-arrow-left"></i> 
        <span ng-if="!$root.UI.isMobile">
            Back
        </span>
    </a>
    <div class="inventory-item inventory-form-details create-edit grid-container">
        <h1>
            <b ng-if="UI.newItem">
                Create Item
            </b>
            <b ng-if="!UI.newItem">
                Edit Item
            </b>
        </h1>
        <form 
            class="item-form inventory-form golura-form"
            id="itemForm"
            name="itemForm"
            ng-submit="createItem($event, item)"
        >
            <div class="grid-x grid-margin-x align-middle">
                <div class="cell small-12 medium-12 large-12">
                    <h2>
                        <b>Details</b>
                    </h2>
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <div 
                        class="input-container"
                        ng-class="{'ssc': !UI.itemLoaded}"
                    >
                        <div 
                            class="ssc-square"
                            ng-if="!UI.itemLoaded"
                        ></div>
                        <label for="itemName">   
                            Name
                            <span class="alert-text">
                                *
                            </span>
                        </label>
                        <input
                            class="form-input"
                            type="text"
                            id="itemName"
                            name="itemName"
                            placeholder="Item name"
                            ng-model="item.name"
                            format-variable item-variable-name="item.variableName"
                            autocomplete="off"
                            required
                        />
                    </div>
                </div>
                <div class="cell small-12 medium-6 large-6">
                    <div class="input-container">
                        <label for="itemRate">   
                            Rate
                            <span class="alert-text">
                                *
                            </span>
                        </label>
                        <input
                            class="form-input"
                            type="text"
                            id="itemRate"
                            name="itemRate"
                            placeholder="Enter rate"
                            ng-model="item.rate"
                            ui-mask="9.99"
                            ui-mask-placeholder 
                            required
                        />
                    </div>
                </div>
                <div class="cell small-12 medium-6 large-6">
                    <div class="input-container">
                        <label for="itemUnit">   
                            Unit
                            <span class="alert-text">
                                *
                            </span>
                        </label>
                        <selectize
                            class="form-input"
                            config="unitOptions"
                            options="units"
                            id="itemUnit"
                            name="itemUnit"
                            ng-model="item.unit"
                            required
                        >
                        </selectize>
                    </div>
                </div>
                <div class="cell small-12 medium-6 large-6">
                    <div class="input-container">
                        <label for="minimumOrderAmount">
                            Minimum Order Amount
                        </label>
                        <input
                            class="form-input"
                            type="number"
                            id="minimumOrderAmount"
                            name="minimumOrderAmount"
                            ng-model="item.minimumOrderAmount"
                        />
                    </div>
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <div class="input-container">
                        <label for="parentManufacturerPartNumber">
                            Parent Manufacturer Part Number
                        </label>
                        <input
                            class="form-input"
                            type="text"
                            id="parentManufacturerPartNumber"
                            name="parentManufacturerPartNumber"
                            ng-model="item.parentManufacturerPartNumber"
                        />
                    </div>
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <div class="select-container">
                        <div class="grid-x grid-margin-x align-middle">
                            <div class="cell shrink text-right">
                                <button 
                                    class="select-button button"
                                    type="button"
                                    aria-label="estimate email button"
                                    ng-click="item.adHocEstimates = !item.adHocEstimates"
                                    ng-class="{'selected': item.adHocEstimates}"
                                >
                                    <div 
                                        class="check-icon"
                                        ng-if="item.adHocEstimates"
                                    >
                                        <i class="fal fa-check"></i>
                                    </div>
                                </button>
                            </div>
                            <div class="cell auto">
                                <span>
                                    Allow in AD-HOC Estimates?
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <div class="select-container">
                        <div class="grid-x grid-margin-x align-middle">
                            <div class="cell shrink text-right">
                                <button 
                                    class="select-button button"
                                    type="button"
                                    aria-label="estimate email button"
                                    ng-click="item.discountItem = !item.discountItem"
                                    ng-class="{'selected': item.discountItem}"
                                >
                                    <div 
                                        class="check-icon"
                                        ng-if="item.discountItem"
                                    >
                                        <i class="fal fa-check"></i>
                                    </div>
                                </button>
                            </div>
                            <div class="cell auto">
                                <span>
                                    Discount Item?
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <div class="select-container">
                        <div class="grid-x grid-margin-x align-middle">
                            <div class="cell shrink text-right">
                                <button 
                                    class="select-button button"
                                    type="button"
                                    aria-label="estimate email button"
                                    ng-click="item.isVariable = !item.isVariable"
                                    ng-class="{'selected': item.isVariable}"
                                >
                                    <div 
                                        class="check-icon"
                                        ng-if="item.isVariable"
                                    >
                                        <i class="fal fa-check"></i>
                                    </div>
                                </button>
                            </div>
                            <div class="cell auto">
                                <span>
                                    Is Variable?
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div 
                    class="cell small-12 medium-12 large-12"
                    ng-show="item.isVariable"
                >
                    <div class="input-container disabled">
                        <label for="variableName">
                            Variable Name
                        </label>
                        <input
                            class="form-input"
                            type="text"
                            id="variableName"
                            name="variableName"
                            ng-model="item.variableName"
                            required
                            disabled
                        />
                    </div>
                </div>
                <div class="cell small-12 medium-6 large-6">
                    <div class="input-container">
                        <label for="imgUrl">
                            Image URL
                        </label>
                        <input
                            class="form-input"
                            type="text"
                            id="imgUrl"
                            name="imgUrl"
                            ng-model="item.imgUrl"
                        />
                    </div>
                </div>
                <div class="cell small-12 medium-6 large-6">
                    <div class="input-container">
                        <label for="manufacturerPartNumber">
                            Manufacturer Part Number
                        </label>
                        <input
                            class="form-input"
                            type="text"
                            id="manufacturerPartNumber"
                            name="manufacturerPartNumber"
                            ng-model="item.manufacturerPartNumber"
                        />
                    </div>
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <div class="input-container">
                        <label>   
                            Description
                        </label>
                        <div class="form-textarea-container">
                            <textarea
                                class="form-textarea"
                                id="itemDescription"
                                name="itemDescriptionTextarea"
                                ng-model="item.description"
                            ></textarea>
                        </div>
                    </div>
                </div>
                <div class="cell small-12 medium-12 large-12 text-right">
                    <button 
                        class="item-form-submit-button submit-button button" 
                        id="itemFormSubmitButton"
                        type="submit"
                        ng-disabled="UI.formSaving"
                        ng-class="{'form-saving': UI.formSaving}"
                        ng-if="UI.itemLoaded && UI.newItem"
                    >
                        <span ng-if="!UI.formSaving">
                            <i class="fal fa-save"></i> Save
                        </span>
                        <span ng-if="UI.formSaving">
                            Please Wait...
                        </span>
                    </button>
                    <button 
                        class="item-form-edit-submit-button submit-button button" 
                        id="itemFormUpdateButton"
                        type="button"
                        ng-disabled="UI.formSaving"
                        ng-class="{'form-saving': UI.formSaving}"
                        ng-click="updateItem(item)"
                        ng-if="UI.itemLoaded && !UI.newItem"
                    >
                        <span ng-if="!UI.formSaving">
                            <i class="fal fa-check-circle"></i> Update
                        </span>
                        <span ng-if="UI.formSaving">
                            Please Wait...
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
