<div class="warehouse-type-container inventory-form-container create-edit-container">
    <div class="warehouse-type inventory-form-details create-edit grid-container">
        <h1>
            <b ng-if="UI.newWarehouseType">
                Create Warehouse Type
            </b>
            <b ng-if="!UI.newWarehouseType">
                Edit Warehouse Type
            </b>
        </h1>
        <form 
            class="warehouse-type-form inventory-form golura-form"
            id="warehouseTypeForm"
            name="warehouseTypeForm"
            ng-submit="createWarehouseType($event, warehouseType)"
        >
            <div class="grid-x grid-margin-x align-middle">
                <div class="cell small-12 medium-12 large-12">
                    <h2>
                        <b>Details</b>
                    </h2>
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <div 
                        class="input-container"
                        ng-class="{'ssc': !UI.warehouseTypeLoaded}"
                    >
                        <div 
                            class="ssc-square"
                            ng-if="!UI.warehouseTypeLoaded"
                        ></div>
                        <label for="warehouseTypeName">   
                            Name
                            <span class="alert-text">
                                *
                            </span>
                        </label>
                        <input
                            class="form-input"
                            type="text"
                            id="warehouseTypeName"
                            name="warehouseTypeName"
                            placeholder="Warehouse Type name"
                            ng-model="warehouseType.name"
                            autocomplete="off"
                            required
                        />
                    </div>
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <div class="input-container">
                        <label>   
                            Description
                        </label>
                        <div class="form-textarea-container">
                            <textarea
                                class="form-textarea"
                                id="warehouseTypeDescription"
                                name="warehouseTypeDescriptionTextarea"
                                ng-model="warehouseType.description"
                            ></textarea>
                        </div>
                    </div>
                </div>
                <div class="cell small-12 medium-12 large-12 text-right">
                    <button 
                        class="warehouse-type-form-submit-button submit-button button" 
                        id="warehouseTypeFormSubmitButton"
                        type="submit"
                        ng-disabled="UI.formSaving"
                        ng-class="{'form-saving': UI.formSaving}"
                        ng-if="UI.warehouseTypeLoaded && UI.newWarehouseType"
                    >
                        <span ng-if="!UI.formSaving">
                            <i class="fal fa-save"></i> Save
                        </span>
                        <span ng-if="UI.formSaving">
                            Please Wait...
                        </span>
                    </button>
                    <button 
                        class="warehouse-type-form-edit-submit-button submit-button button" 
                        id="warehouseTypeFormUpdateButton"
                        type="button"
                        ng-disabled="UI.formSaving"
                        ng-class="{'form-saving': UI.formSaving}"
                        ng-click="updateWarehouseType(warehouseType)"
                        ng-if="UI.warehouseTypeLoaded && !UI.newWarehouseType"
                    >
                        <span ng-if="!UI.formSaving">
                            <i class="fal fa-check-circle"></i> Update
                        </span>
                        <span ng-if="UI.formSaving">
                            Please Wait...
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
