<div 
    class="user-password-reset-form-container create-edit-container"
    ng-init="initUserPasswordResetForm()"
>
    <div 
        class="callout sticky text-center fade"
        ng-class="{'success success-text': UI.message,
        'alert alert-text': UI.errMessage}"
        ng-hide="!UI.message.length &&
        !UI.errMessage.length"
    >
        <p ng-if="UI.message.length">
            {{UI.message}}
        </p>
        <p ng-if="UI.errMessage.length">
            {{UI.errMessage}}
        </p>
    </div>  
    <div class="user-password-reset-form create-edit grid-container">
        <div class="user-password-reset-form-logo">
            <img
                src="/dist/assets/img/logos/golura/golura-logo.svg"
                ng-if="!$root.preferences.darkMode"
                alt="Golura Logo"
            />
            <img
                src="/dist/assets/img/logos/golura/golura-logo-white.svg"
                ng-if="$root.preferences.darkMode"
                alt="Golura Logo"
            />
        </div>
        <hr/>
        <form 
            class="user-form golura-form"
            id="userResetForm"
            name="userResetForm"
            ng-submit="resetPassword($event, user)"
        >
            <div format-users user="user"></div>
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 medium-12 large-12">
                    <h1>
                        <b>
                            Howdy!
                        </b>
                    </h1>
                    <p>
                        Please reset your password
                    </p>
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <div class="input-container">
                        <label>
                            Password
                            <span class="alert-text">
                                *
                            </span>
                        </label>
                        <password-strength 
                            ng-model="user.password" 
                            required="true"
                            strength="strength"
                        ></password-strength>
                    </div>
                    <div class="input-container">
                        <label>
                            Confirm Password
                            <span class="alert-text">
                                *
                            </span>
                        </label>
                        <input 
                            class="form-input"
                            type="password"
                            name="confirmPassword"
                            ng-model="user.confirmPassword"
                            placeholder="Confirm your password"
                            required 
                        />
                    </div>
                </div>
                <div class="cell small-12 medium-12 large-12 text-right">
                    <button 
                        class="user-password-reset-form-submit-button submit-button button"
                        id="userPasswordResetFormSubmitButton"
                        name-submit="userPasswordResetFormSubmitButton"
                        type="submit" 
                        ng-class="{'form-saving': UI.formSaving}"
                        ng-disabled="UI.formSaving || !user.password || !user.confirmPassword || user.password !== user.confirmPassword || user.password.length < 8 || strength !== 'Strong'"
                    >
                        <span ng-if="!UI.formSaving">
                            <i class="fal fa-save"></i> Reset
                        </span>
                        <span ng-if="UI.formSaving">
                            Please Wait...
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>