.clients-container {
    height: 100%;

    .clients {
        height: 100%;

        .clients-list-container {

            .clients-list {

                .clients-list-item {
                    
                    .clients-list-item-name, 
                    .clients-list-item-role, 
                    .clients-list-item-team {
                        text-transform: capitalize;
                    }
                    .clients-list-item-date {
                        font-size: .75rem;
                        color: $medium-gray;
                    }
                    h6 {
                        font-size: .75rem;
                        margin: 0px;
                    }
                    .clients-list-item-options-container,
                    .clients-list-item-delete-container {

                        h4 {
                            b {
                                font-size: 1.25rem;
                            }
                            margin: 0px;
                        }

                        .clients-list-item-options-button {
                            margin-bottom: 0px;
                        }
                        a {
                            margin-right: .25rem;
                        }
                    }
                    .clients-list-item-delete-container {
                        padding: 1rem 0px;
                    }
                }
                .clients-list-infinite-scroll {
                    padding: 1rem 2rem;
        
                    .dispatch-loader {
                        height: 4rem;
                        margin: 0px;
                    }
                }

                .clients-list-empty-container  {
                    padding: 2rem 8rem;
        
                    h3 {
                        color: $medium-gray;
                        padding: .5rem 0px;
                        margin: 0px 0px 1rem;
                            
                        span {
                            font-weight: bold;
                            color: $black;
                        }
                    }
                }
            }
        }
    }
}
.view-client-container {
    height: 100%;

    .view-client {
        height: 100%;
        position: relative;
        overflow: auto;
        
        .note-callout {
            position: static !important;
            border-radius: $container-radius;
            border: 1px solid $alert-color;
            margin-bottom: 1rem;

            &:not(:first) {
                margin-top: 1rem;
            }
        }
        &.view-client-activity {
            padding: 0px;

            .view-client-activity-search-container {
                border-top: 1px solid var(--light-gray);
            }

            .golura-user-icon {
                top: unset !important;
            }
        }

        .golura-user-icon-container {

            .golura-user-icon-background-container {
                background: url('/dist/assets/img/backgrounds/client-background.jpg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                border-radius: $container-radius;
                padding: 4rem;
            }
            .golura-user-icon {
                top: -4rem;
                margin-left: 2rem;

                h2 {
                    font-size: 2rem;
                }
            }
        }
        .view-client-primary-details-container {
            height: 100%;
            overflow: auto;

            .view-client-primary-details {
                padding-top: 1rem;
                
                .view-client-primary-details-list {
                    list-style: none;
                    margin: 0px;

                    .ssc-line {
                        margin: 0px 0px .25rem 0px;
                    }

                    p {
                        margin: 0px 0px .25rem 0px;
                        font-size: .75rem;
                    }
                    button {
                        margin: 0px;
                    }
                }
            }
        }
        .view-client-activity-top-bar-container {
            padding: 1rem;
            background: var(--white);
        }
        .view-client-details-option-container {
            height: 100%;

            .view-client-details-options {
                height: 100%;
                border: 1px solid var(--light-gray);
                border-radius: $container-radius;
                overflow: hidden;

                .view-client-details-tabs-list  {
                    height: 100%;
                    overflow: auto;
                    border: none;
                    border-right: 1px solid var(--light-gray);
                }
                .view-client-details-tabs-content {
                    background-color: $transparent;
                    height: 100%;
        
                    .view-client-details-tabs-panel {
                        background-color: var(--white);
                        height: 100%;
        
                        .view-client-details-tab {
                            height: 100%;
                            overflow: auto;
        
                            .view-client-details-tab-item {
        
                                h5 {
                                    margin-bottom: 1rem;

                                    span {
                                        margin-right: .5rem;
                                    }
                                }
                            }
                        }
                    }
                }        
                .view-client-details-list {
                    list-style-type: none;

                    .view-client-details-list-item {
                        margin-bottom: .25rem;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
    .view-client-media {

        h4 {
            margin: 0px;
        }
        .view-client-photos-media-button {
            padding-right: 6rem;
            white-space: -moz-nowrap; /* Firefox */
            white-space: -o-nowrap; /* Opera */
            white-space: nowrap; /* Chrome */
            word-wrap: no-break; /* IE */
            overflow: hidden;
            text-overflow: ellipsis;

            &.is-active {
                background: lighten($secondary-color, 15);
                color: $secondary-color;
            }
        }
        .view-client-media-items-container {
            height: 100%;
            padding: 0px 1rem 1rem;
            
            .view-client-media-items-list {
                list-style-type: none;
                height: 100%;
                margin: 0px;
            }
        }
    }
    .view-client-events {

        .view-client-events-details-container {

            h1 {
                font-size: 1.5rem;    
                padding: 1rem;
                margin: 0px;
            }
            
            .view-client-events-details {
                padding: 0px !important;
                height: 100%;
                overflow: scroll;
                
                .view-client-events-list-item-participants-container {

                    .golura-user-icon-container {

                        .golura-user-icon {
                            margin: 0px;
                            top: 0px;
                        }
                    }
                }
    
                .view-client-past-events-list-item {

                    .view-client-past-events-list-item-date-container {
                        border-radius: $container-radius;
                        background: var(--off-white);
                        border: 1px solid var(--light-gray);
                        padding: 2rem 1rem;
                        margin-bottom: 1rem;

                        .view-client-past-events-list-item-date {

                            span {
                                display: block;
                                padding: 1rem 0px;

                                &::before,
                                &::after {
                                    content: '';
                                    width: .55rem;
                                    margin-bottom: .25rem;
                                    display: inline-block;
                                    border-bottom: 1px solid var(--font-color);
                                    position: relative;
                                }
                                &::before {
                                    left: -.25rem;
                                }
                                &::after {
                                    right: -.25rem;
                                }
                            }
                        }
                    }

                    .list-item {
                        &:hover {
                            background: var(--white);
                        }
                        .view-client-events-list-item-description {
                            white-space: -moz-nowrap; /* Firefox */
                            white-space: -o-nowrap; /* Opera */
                            white-space: nowrap; /* Chrome */
                            word-wrap: no-break; /* IE */
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
                .clients-list-item-details-search-container {
                    margin-bottom: 2rem;
                }
                .list {
                    
                    .list-item {
                        padding: 0px 1rem;
    
                        h4 {
                            margin: 2rem 0px;
                        }
                        h6 {
                            margin-bottom: .5rem;
                        }
                        .view-client-events-list-item-button-container {
                            padding: 2rem 0px 0px;
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        }
    }

    .view-client-estimates,
    .view-client-work-orders,
    .view-client-invoices {

        .view-client-estimates-list-container {
            background: var(--white);
            border: 1px solid var(--light-gray);
            border-radius: $container-radius;
            height: 100%;

            h3 {
                padding: 1rem 1rem 0px;
            }

            .view-client-estimates-list {
                height: 100%;
                overflow: auto;
                list-style-type: none;

                .view-client-estimates-list-item {
                    
                    &.is-active {
                        background: var(--light-gray);
                        border: 1px solid lighten($secondary-color, 15);
                        color: var(--font-color);
                    }
                }
            }
        }
        .view-client-work-orders-list-container,
        .view-client-invoices-list-container {
            background: var(--white);
            border: 1px solid var(--light-gray);
            border-radius: $container-radius;
            height: 100%;

            h3 {
                padding: 1rem;
            }
        }
        .estimate-view-container {
            height: 100%;

            .estimate-view {
                height: 100%;
            }
        }
    }
    .view-client-contact-history {

        .client-contact-history-sidebar-container {
            height: 100%;

            .client-contact-history-sidebar {
                background: var(--white);
                border: 1px solid var(--light-gray);
                border-radius: $container-radius;
                height: 100%;

                h3 {
                    padding: 1rem 1rem 0px;
                }
                .client-contact-history-sidebar-buttons {
                    padding: 0px 1rem;
                }

            }
        }
        .view-client-contact-history-email-iframe {
            height: 100%;
            width: 100%;
            border: none;
            border-radius: $container-radius;
        }
    }
}
.view-client-media-option-list {
    list-style-type: none;
    margin: 0px;
    background: var(--white);
    padding: 1rem;
    border-radius: $container-radius;
    border: 1px solid var(--light-gray);
    
    .view-client-media-option-list-item {

        button {
            width: 100%;
            display: block;
            padding: 1rem;
        }
    }
}
.client-create-container {
    height: 100%;

    .client-create {
        height: 100%;

        .client-form-sidebar-container {
            height: 100%;
            padding: 1rem;
            border-right: 1px solid var(--light-gray);

            .client-form-sidebar {
                height: 100%;
                overflow: auto;

                .client-form-sidebar-list {
                    list-style-type: none;
                    margin: 0px;
                    padding: 1rem;
    
                    .client-form-sidebar-list-item {
                        margin-bottom: 1rem;
                        text-transform: capitalize;
                    }
                }
            }
        }
        .client-primary-form {
            padding: 1rem;
        }
    }
}
.client-edit-container {
    height: 100%;

    .client-edit {
        height: 100%;
        
        h1 {
            margin: 0px 0px 1rem;
            text-transform: capitalize;
        }

        h6 {
            color: var(--medium-gray);
        }
        .callout {
            border-top-left-radius: $container-radius;
            border-top-right-radius: $container-radius;
        }
        .client-form-details-container {
            background: var(--white);
            height: 100%;    

            .callout {
                border-top-left-radius: 0px;
            }

            .client-form-details-item-container {
                height: 100%;

                &.client-form-primary-container {
                    padding: 1rem;
                }
                
                .client-form-details-search-container {

                    .client-form-details-search {
                        border-bottom: 1px solid var(--light-gray);
                        
                        .search-icon {
                            padding: .75rem 1rem;
                        }
                        .sort-input-container {
                            border-left: 1px solid var(--light-gray);
                            padding: .25rem 1rem;
        
                            .client-form-details-search-sort-input  {
        
                                .selectize-input {
                                    padding-bottom: 0px;
        
                                    &::before {
                                        display: none;
                                        padding-bottom: 0px;
                                    }
                                }
                            }
        
                            .selectize-dropdown {
                                width: 15rem !important;
                                left: -5rem !important;
                            }
                        }
                        .client-form-details-create-button-container {
        
                            .client-form-details-create-button {
                                margin: 0px;
                                border-radius: 0px;
                            }
                        }
                    }
                }
                .client-form-details-list-header-container {
            
                    .client-form-details-list-header {
                        padding: .5rem 1rem;
                        border-bottom: 1px solid var(--light-gray);
                        
                        h3 {
                            font-size: 1rem;
                            margin: 0px;
                        }
                        .client-form-details-list-header-name {
                            width: 15rem;
                        }
                        .client-form-details-list-header-options {
                            padding-right: 10rem;
                        }
                    }
                }
                .client-form-details-list {
                    margin: 0px;
                    padding: 1rem;
                    height: 100%;
                    overflow: scroll;
                    list-style-type: none;

                    .client-form-details-list-create-item {
                        padding: 1rem;
                        border: 1px solid var(--light-gray);
                        border-radius: $container-radius;
                    }

                    .client-form-details-list-item {

                        h6 {
                            font-size: .75rem;
                        }
                        .create-edit-container {
                            padding: 0px;
                        }
                        .client-form-details-list-item-delete-container {
                            border-radius: $container-radius;
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 100%;
                            height: 100%;
                            padding: 2rem;
    
                            h4 {
                                b {
                                    font-size: 1.25rem;
                                }
                                margin: 0px;
                            }
                            .cancel-button  {
                                margin-top: 1rem;
                            }
                            button {
                                margin-bottom: 0px;
                            }
                            a {
                                margin-right: .25rem;
                            }
                        }
                    }
                    .client-form-select-button-container {
                        
                        label {

                            span {
                                font-size: .5rem;
                                vertical-align: top;
                                color: $alert-color;
                            }
                        }
                    }
                }
            }
        }
    }
    .client-form-tabs-container {
        height: 100%;
        overflow: auto;
        border-right: 1px solid var(--light-gray);

        .client-form-tabs {

            .client-form-tabs-list {
                border: none;
                background: $transparent;
            }
        }
    }
    .client-form-tabs-content {
        height: 100%;
        overflow: auto;
        border: none;

        .client-form-tabs-content-options-container {
            padding: 1rem;
            background: var(--white);
            border-bottom: 1px solid var(--light-gray);
        }
        .client-form-tabs-panel {
            padding: 0px;
            height: 100%;

            .client-form-details-item-container {

                .client-form-details-search-container {

                    .client-form-details-search {
                        background: var(--white);
                        border-bottom: 1px solid var(--light-gray);
                    }
                }
            }
        }
    }
}
.view-client-add-photos-reveal {
    padding: 0px !important;
    top: 50% !important;
    -webkit-transform: translateY(-50%);  
    transform: translateY(-50%);
}

.estimate-creation-reveal {

    &.no-padding {

        .estimate-creation-options-back-button  {
            margin: 2rem 2rem 0px;
        }
    }
    .estimate-creation-options-container {

        .estimate-creation-option {
            padding: 4rem 2rem;
            background: var(--light-gray);
            color: var(--alt-font-color);
            border-radius: $container-radius;
            cursor: pointer;

            span {
                display: block;
                font-size: 2rem;
            }
        }
    }
    .estimators-list-container {

        h2 {
            padding: 1rem 2rem;
        }
        .estimators-container {

            .estimators {

                .estimators-list-container {
                    max-height: 25rem;
                }
            }
        }
    }
}
.client-create-reveal {
    padding: 0px !important;
}