<div
    class="estimate-edit-form-container edit-container"
    ng-init="initEstimateForm()"
>
    <div class="estimate-edit edit">
        <div format-users users="users"></div>
        <div format-users user="estimate.AssignedUser"></div>
        <div format-users user="estimate.Creator"></div>
        <div format-clients client="estimate.Client"></div>
        <div 
            class="callout sticky text-center fade"
            ng-hide="!UI.message.length &&
            !UI.errMessage.length || 
            UI.modalFormSaved"
            ng-class="{'success success-text': UI.message,
            'alert alert-text': UI.errMessage}"
            data-sticky 
            data-options="marginTop:0;"
        >
            <button 
                class="close-button button clear"
                ng-class="{'success': UI.message,
                'alert': UI.errMessage}"
                type="button"
                ng-click="UI.errMessage = !UI.errMessage;
                UI.message = !UI.message"
            >
                <i class="fal fa-times-circle"></i>
            </button>
            <p ng-if="UI.message.length">
                {{UI.message}}
            </p>
            <p ng-if="UI.errMessage.length">
                {{UI.errMessage}}
            </p>
        </div>
        <form 
            class="estimate-form golura-form"
            id="estimateForm"
            name="estimateForm"
            ng-submit="updateEstimate($event, estimate)"
        >
            <div class="golura-block grid-x grid-margin-x">
                <div class="golura-block cell small-12 medium-auto large-auto">
                    <div class="estimate-form-sidebar">
                        <button 
                            class="back-button button warning white-text" 
                            type="button"
                            ng-click="$root.goBack()"
                        >
                            <i class="fal fa-circle-arrow-left"></i> Back
                        </button>
                        <button 
                            class="analyze-estimate-button button teal white-text"
                            type="button"
                            ng-if="$root.company.goEsti"
                            data-open="estimateAnalysisReveal"
                            ng-click="initEstimateAnalysis()"
                        >
                            <i class="fal fa-sparkles"></i> Analyze
                        </button>
                        <ul 
                            class="estimate-form-sidebar-list accordion" 
                            data-accordion
                            data-deep-link="false"
                            data-allow-all-closed="true"
                        >
                            <li 
                                class="estimate-form-sidebar-list-item estimate-form-sidebar-list-item-signed warning-message accordion-item alert-background" 
                                ng-show="estimate.EstimateSignature
                                || estimate.converted"
                            >   
                                <div class="grid-x grid-margin-x align-middle white-text">
                                    <div class="cell small-12 medium-shrink large-shrink">
                                        <span class="estimate-form-sidebar-list-item-signed-icon">
                                            <i class="fal fa-exclamation-circle"></i>
                                        </span>
                                    </div>
                                    <div class="cell small-12 medium-auto large-auto">
                                        <h4 class="white-text">
                                            <b>
                                                This Estimate has been signed or converted,
                                                <br/>
                                                and most fields are now locked.
                                            </b>
                                            <br/>
                                            You can copy the Estimate however, to create a new one.
                                        </h4>
                                    </div>
                                    <div class="cell small-12 medium-3 large-3">                                        
                                        <button 
                                            class="back-button button success white-text" 
                                            type="button"
                                            ng-click="copyEstimate"
                                        >
                                            <i class="fal fa-clone"></i> Copy
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li 
                                class="estimate-form-sidebar-list-item accordion-item is-active" 
                                data-accordion-item
                            >
                                <a 
                                    class="estimate-form-sidebar-list-item-title accordion-title"
                                    href="#"
                                >
                                    <b>
                                        <i class="fal fa-circle-info"></i> Details
                                    </b>
                                </a>
                                <div 
                                    class="estimate-form-sidebar-list-item-content accordion-content" 
                                    data-tab-content
                                >
                                    <div class="grid-y">
                                        <div class="cell shrink">
                                            <div 
                                                class="input-container"
                                                ng-class="{'ssc': !UI.estimateLoaded}"
                                            >
                                                <div 
                                                    class="ssc-square"
                                                    ng-if="!UI.estimateLoaded"
                                                ></div>
                                                <label for="estimateAssignedUser">
                                                    Assigned User
                                                </label>
                                                <selectize
                                                    class="form-input"
                                                    config="userOptions"
                                                    options="users"
                                                    id="estimateAssignedUser"
                                                    name="estimateAssignedUser"
                                                    ng-model="estimate.assignedUserId"
                                                >
                                                </selectize>
                                            </div> 
                                        </div>
                                        <div class="cell shrink">
                                            <div 
                                                class="input-container"
                                                ng-class="{'ssc': !UI.estimateLoaded,
                                                'disabled': estimate.converted}"
                                            >
                                                <div 
                                                    class="ssc-square"
                                                    ng-if="!UI.estimateLoaded"
                                                ></div>
                                                <label for="estimateStatus">
                                                    Status
                                                    <span class="alert-text">
                                                        *
                                                    </span>
                                                </label>
                                                <selectize
                                                    class="form-input"
                                                    config="statusOptions"
                                                    options="estimateStatuses"
                                                    id="estimateStatus"
                                                    name="estimateStatus"
                                                    ng-model="estimate.statusId"
                                                    ng-disabled="estimate.converted"
                                                >
                                                </selectize>
                                            </div>
                                        </div>
                                        <div class="cell shrink">
                                            <div 
                                                class="input-container"
                                                ng-class="{'ssc': !UI.estimateLoaded,
                                                'disabled': estimate.EstimateSignature ||
                                                estimate.converted}"
                                            >
                                                <div 
                                                    class="ssc-square"
                                                    ng-if="!UI.estimateLoaded"
                                                ></div>
                                                <label for="estimateMarkup">
                                                    Markup
                                                </label>
                                                <input
                                                    class="form-input"
                                                    type="number"
                                                    id="estimateMarkup"
                                                    name="estimateMarkup"
                                                    placeholder="Enter estimate markup"
                                                    ng-model="estimate.markUp"
                                                    ng-disabled="estimate.EstimateSignature ||
                                                    estimate.converted"
                                                />
                                            </div>
                                        </div>
                                        <div class="cell shrink">
                                            <div 
                                                class="input-container"
                                                ng-class="{'ssc': !UI.estimateLoaded,
                                                'disabled': estimate.EstimateSignature ||
                                                estimate.converted}"
                                            >
                                                <div 
                                                    class="ssc-square"
                                                    ng-if="!UI.estimateLoaded"
                                                ></div>
                                                <label for="EstimateSalesTaxRate">
                                                    Sales Tax Rate
                                                </label>
                                                <input
                                                    class="form-input"
                                                    type="number"
                                                    step="0.01"
                                                    id="EstimateSalesTaxRate"
                                                    name="EstimateSalesTaxRate"
                                                    placeholder="Enter estimate sales tax rate"
                                                    ng-model="estimate.salesTaxRate"
                                                    ng-disabled="estimate.EstimateSignature ||
                                                    estimate.converted"
                                                />
                                            </div>
                                        </div>
                                        <div class="cell shrink">
                                            <div 
                                                class="input-container"
                                                ng-class="{'ssc': !UI.estimateLoaded,
                                                'disabled': estimate.EstimateSignature ||
                                                estimate.converted}"
                                            >
                                                <div 
                                                    class="ssc-square"
                                                    ng-if="!UI.estimateLoaded"
                                                ></div>
                                                <label for="EstimateSubTotalPrice">
                                                    Sub Total
                                                </label>
                                                <input
                                                    class="form-input"
                                                    type="text"
                                                    id="EstimateSubTotalPrice"
                                                    name="EstimateSubTotalPrice"
                                                    autocomplete="off"
                                                    format-number 
                                                    allow-decimal="true" 
                                                    decimal-places="2" 
                                                    ui-mask-placeholder 
                                                    ui-mask-placeholder-char="·"
                                                    placeholder="Enter estimate sub total price"
                                                    ng-model="estimate.subTotal"
                                                    ng-disabled="estimate.EstimateSignature ||
                                                    estimate.converted"
                                                />
                                            </div>
                                        </div>
                                        <div class="cell shrink">
                                            <div class="estimate-form-select-button-container select-container">
                                                <div class="grid-x grid-margin-x align-middle">
                                                    <div class="cell shrink text-right">
                                                        <button 
                                                            class="estimate-form-select-button select-button button"
                                                            type="button"
                                                            aria-label="estimate email button"
                                                            ng-click="estimate.lineItemPrice = !estimate.lineItemPrice"
                                                            ng-class="{'selected': estimate.lineItemPrice}"
                                                        >
                                                            <div 
                                                                class="check-icon"
                                                                ng-if="estimate.lineItemPrice"
                                                            >
                                                                <i class="fal fa-check"></i>
                                                            </div>
                                                        </button>
                                                    </div>
                                                    <div class="cell auto">
                                                        <label>
                                                            Show Line Item Price?
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div 
                                            class="cell shrink"
                                            ng-if="estimate.adHocReason"
                                        >
                                            <div class="input-container disabled">
                                                <label>
                                                    Ad-Hoc Reason
                                                </label>
                                                <div class="form-textarea-container">
                                                    <textarea 
                                                        class="form-textarea" 
                                                        name="reason" 
                                                        placeholder="Enter reason for creating the Ad-Hoc Estimate." 
                                                        ng-model="estimate.adHocReason"
                                                        disabled
                                                    ></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cell shrink text-right">
                                            <button 
                                                class="estimate-settings-submit-button submit-button button"
                                                type="submit"
                                                ng-disabled="UI.formSaving"
                                                ng-class="{'form-saving': UI.formSaving}"
                                            >
                                                <span ng-if="!UI.formSaving">
                                                    <i class="fal fa-check-circle"></i> Update
                                                </span>
                                                <span ng-if="UI.formSaving">
                                                    Please Wait...
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li 
                                class="estimate-form-sidebar-list-item accordion-item" 
                                data-accordion-item
                            >
                                <a 
                                    class="estimate-form-sidebar-list-item-title accordion-title"
                                    href="#"
                                >
                                    <b>
                                        <i class="fal fa-user"></i> Client
                                    </b>
                                </a>
                                <div 
                                    class="estimate-form-sidebar-list-item-content accordion-content" 
                                    data-tab-content
                                >
                                    <div class="grid-y">
                                        <div format-addresses addresses="client.ClientAddresses"></div>
                                        <div format-phone-numbers phone-numbers="client.ClientPhoneNumbers"></div>
                                        <div class="cell shrink">
                                            <h6 class="estimate-form-sidebar-client">
                                                <b>
                                                    Client: 
                                                </b>
                                                <a ng-href="clients/client/{{estimate.clientId}}">
                                                    {{estimate.Client.fullName}}
                                                </a>
                                            </h6>
                                        </div>
                                        <div class="cell shrink">
                                            <div 
                                                class="input-container"
                                                ng-class="{'ssc': !UI.estimateLoaded}"
                                            >
                                                <div 
                                                    class="ssc-square"
                                                    ng-if="!UI.estimateLoaded"
                                                ></div>
                                                <label>
                                                    Phone Number
                                                </label>
                                                <selectize
                                                    class="estimate-input form-input"
                                                    id="estimateClientPhoneNumber"
                                                    config="phoneNumberOptions"
                                                    options="estimate.Client.ClientPhoneNumbers"
                                                    name="estimatePhoneNumber"
                                                    ng-model="estimate.clientPhoneNumberId"
                                                >
                                                </selectize>
                                            </div>
                                        </div>
                                        <div class="cell shrink">
                                            <div 
                                                class="input-container"
                                                ng-class="{'ssc': !UI.estimateLoaded}"
                                            >
                                                <div 
                                                    class="ssc-square"
                                                    ng-if="!UI.estimateLoaded"
                                                ></div>
                                                <label>
                                                    Email
                                                </label>
                                                <selectize
                                                    class="estimate-input form-input email-input"
                                                    id="estimateClientEmail"
                                                    config="emailOptions"
                                                    options="estimate.Client.ClientEmails"
                                                    name="estimateEmail"
                                                    ng-model="estimate.clientEmailId"
                                                >
                                                </selectize>
                                            </div>
                                        </div>
                                        <div class="cell shrink">
                                            <div 
                                                class="input-container"
                                                ng-class="{'ssc': !UI.estimateLoaded}"
                                            >
                                                <div 
                                                    class="ssc-square"
                                                    ng-if="!UI.estimateLoaded"
                                                ></div>
                                                <label>
                                                    Address
                                                </label>
                                                <selectize
                                                    class="estimate-input form-input"
                                                    config="addressOptions"
                                                    options="estimate.Client.ClientAddresses"
                                                    name="estimateAddress"
                                                    ng-model="estimate.clientAddressId"
                                                >
                                                </selectize>
                                            </div>
                                        </div>
                                        <div class="cell shrink">
                                            <div 
                                                class="input-container"
                                                ng-class="{'ssc': !UI.estimateLoaded}"
                                            >
                                                <div 
                                                    class="ssc-square"
                                                    ng-if="!UI.estimateLoaded"
                                                ></div>
                                                <label>
                                                    Billing Address
                                                </label>
                                                <selectize
                                                    class="estimate-input form-input"
                                                    config="addressOptions"
                                                    options="estimate.Client.ClientAddresses"
                                                    name="estimateAddress"
                                                    ng-model="estimate.clientAddressId"
                                                >
                                                </selectize>
                                            </div>
                                        </div>
                                        <div class="cell shrink text-right">
                                            <button 
                                                class="estimate-settings-submit-button submit-button button"
                                                type="submit"
                                                ng-disabled="UI.formSaving"
                                                ng-class="{'form-saving': UI.formSaving}"
                                            >
                                                <span ng-if="!UI.formSaving">
                                                    <i class="fal fa-check-circle"></i> Update
                                                </span>
                                                <span ng-if="UI.formSaving">
                                                    Please Wait...
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li 
                                class="estimate-form-sidebar-list-item accordion-item" 
                                data-accordion-item
                            >
                                <a 
                                    class="estimate-form-sidebar-list-item-title accordion-title"
                                    ng-click="UI.showMemo = !UI.showMemo"
                                    href="#"
                                >
                                    <b>
                                        <i class="fal fa-memo"></i> Memo
                                    </b>
                                </a>
                                <div 
                                    class="estimate-form-sidebar-list-item-content estimate-form-sidebar-list-item-memo-container accordion-content" 
                                    data-tab-content
                                >
                                    <div 
                                        id="estimateMemo"
                                        rich-text-editor 
                                        ng-model="estimate.memo"
                                        on-submit="updateEstimate($event, estimate)"
                                        estimate="estimate"
                                    ></div>
                                </div>
                            </li>
                            <li 
                                class="estimate-form-sidebar-list-item accordion-item" 
                                data-accordion-item
                                ng-show="!estimate.EstimateSignature"
                            >
                                <a 
                                    class="estimate-form-sidebar-list-item-title accordion-title"
                                    href="#"
                                >
                                    <b>
                                        <i class="fal fa-list"></i> Line Items
                                    </b>
                                </a>
                                <div 
                                    class="estimate-form-sidebar-list-item-content estimate-form-sidebar-list-item-line-items-container accordion-content" 
                                    data-tab-content
                                >
                                    <div class="estimate-form-sidebar-item-line-items-container">
                                        <div class="line-items">
                                            <div class="golura-block grid-y">
                                                <div class="cell shrink position-relative">
                                                    <div class="line-items-search-container list-search-container">
                                                        <div class="line-items-search list-search">
                                                            <div class="estimate-form-line-items-create-button-container text-right">
                                                                <button 
                                                                    class="estimate-form-line-items-add-button add-button submit-button button success white-text" 
                                                                    id="estimateQuestionCreateButton"
                                                                    type="button"
                                                                    ng-click="initLineItems()"
                                                                    data-open="estimateAddLineItemFormReveal"
                                                                    ng-disabled="estimate.EstimateSignature || estimate.converted"
                                                                >
                                                                    <i class="fal fa-plus-circle"></i> Add Line Item
                                                                </button>
                                                                <button 
                                                                    class="estimate-form-line-items-create-button button white-text"
                                                                    type="button"
                                                                    data-open="estimateLineItemFormReveal"
                                                                    ng-if="permissions.canEdit"
                                                                    ng-click="initEstimateLineItemForm()"
                                                                    ng-cloak
                                                                >
                                                                    <i class="fal fa-edit"></i> Create Line Item
                                                                </button>
                                                            </div>
                                                            <div class="search-input-container">
                                                                <div class="grid-x align-middle">
                                                                    <div class="cell auto align-self-bottom">
                                                                        <input
                                                                            class="line-items-search-input search-input"
                                                                            id="lineItemsSearchInput" 
                                                                            type="text"
                                                                            placeholder="Search line items..."
                                                                            ng-model="search.lineItems.value"
                                                                        />
                                                                    </div>
                                                                    <div class="cell shrink align-self-bottom">
                                                                        <span class="search-icon">
                                                                            <i class="fal fa-search"></i>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cell small-12 medium-12 large-12 overflow-scroll">
                                                    <div class="line-items-list-container list-container">
                                                        <ul 
                                                            class="line-items-list list"
                                                            id="lineItemsList"
                                                        >
                                                            <li ng-if="!UI.estimateLoaded">
                                                                <div class="ssc line-items-ssc">
                                                                    <div 
                                                                        class="ssc-square"
                                                                        ng-repeat="x in [].constructor(40) track by $index"
                                                                    ></div>
                                                                </div>
                                                            </li>
                                                            <li
                                                                class="line-items-list-item list-item position-relative"
                                                                ng-repeat="l in filteredLineItems = 
                                                                (estimate.EstimateLineItems | filter:search.lineItems.value) |
                                                                orderBy: sort.lineItems.value |
                                                                limitTo: UI.lineItemsDisplayed track by $index"
                                                                ng-class="{'selected': l.LineItems.selected}"
                                                            >
                                                                <div class="grid-x grid-padding-x align-middle">
                                                                    <div class="cell small-12 medium-auto large-auto">
                                                                        <h6>
                                                                            {{l.name}}
                                                                        </h6>
                                                                    </div>
                                                                    <div class="cell small-12 medium-auto large-auto">
                                                                        <h6>
                                                                            {{l.quantity}}
                                                                        </h6>
                                                                    </div>
                                                                    <div class="cell small-12 medium-auto large-auto">
                                                                        <h6>
                                                                            {{l.unit}}
                                                                        </h6>
                                                                    </div>
                                                                    <div class="cell small-12 medium-auto large-auto">
                                                                        <h6 ng-if="l.lineItemPrice">
                                                                            {{l.totalPrice | currency}}
                                                                        </h6>
                                                                        <h6 ng-if="!l.lineItemPrice">
                                                                            Hidden {{l.totalPrice | currency}}
                                                                        </h6>
                                                                    </div>
                                                                    <div class="cell small-12 medium-shrink large-shrink">
                                                                        <div class="list-item-options-container">
                                                                            <button 
                                                                                class="list-item-options-button button white-text"
                                                                                type="button"
                                                                                data-open="estimateLineItemFormReveal"
                                                                                ng-if="permissions.canEdit"
                                                                                ng-click="initEstimateLineItemForm(l)"
                                                                                ng-cloak
                                                                            >
                                                                                <i class="fal fa-edit"></i> Edit
                                                                            </button>
                                                                            <button 
                                                                                class="list-item-options-button button alert white-text"
                                                                                type="button"
                                                                                ng-click="l.delete = !l.delete"
                                                                                ng-if="permissions.canArchive"
                                                                            >
                                                                                <i class="fal fa-times-circle"></i> Remove
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div 
                                                                    class="line-items-list-item-delete-container delete-container black-overlay"
                                                                    ng-if="l.delete"
                                                                >
                                                                    <div class="grid-x grid-padding-x align-middle">
                                                                        <div class="cell small-12 medium-auto large-auto text-center">
                                                                            <h4>
                                                                                <b class="alert-text">Warning: </b>
                                                                                <span class="white-text">Are you sure you want to delete 
                                                                                    this Line Item?
                                                                                </span>
                                                                            </h4>
                                                                        </div>
                                                                        <div class="cell small-12 medium-shrink large-shrink">
                                                                            <button 
                                                                                class="list-item-options-button button alert white-text"
                                                                                type="button"
                                                                                ng-disabled="UI.formSaving"
                                                                                ng-class="{'form-alert': UI.formSaving}"
                                                                                ng-click="removeLineItemFromEstimate(l)"
                                                                            >
                                                                                <span ng-if="!UI.formSaving">
                                                                                    <i class="fal fa-check-circle"></i> Confirm
                                                                                </span>
                                                                                <span ng-if="UI.formSaving">
                                                                                    Please Wait...
                                                                                </span>
                                                                            </button>
                                                                            <button 
                                                                                class="list-item-options-button button warning white-text"
                                                                                type="button"
                                                                                ng-click="l.delete = !l.delete"
                                                                            >
                                                                                <i class="fal fa-times-circle"></i> Cancel
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li 
                                                                class="line-items-list-empty text-center"
                                                                ng-show="!estimate.EstimateLineItems.length"
                                                            >
                                                                <div class="grid-container">
                                                                    <h3>
                                                                        <b>Woah! </b>
                                                                        Looks like you have no line items!
                                                                    </h3>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li 
                                class="estimate-form-sidebar-list-item accordion-item" 
                                data-accordion-item
                            >
                                <a 
                                    class="estimate-form-sidebar-list-item-title accordion-title"
                                    href="#"
                                    ng-click="initPhotos()"
                                >
                                    <b>
                                        <i class="fal fa-video"></i> Images
                                    </b>
                                </a>
                                <div 
                                    class="estimate-form-sidebar-list-item-content accordion-content" 
                                    data-tab-content
                                >
                                    <div class="estimate-form-sidebar-item-images-container">
                                        <div class="button-group align-right">
                                            <image-uploader 
                                                client-id="{{estimate.Client.id}}"
                                                estimate-id="{{estimate.id}}"
                                            ></image-uploader>
                                        </div>
                                        <format-images 
                                            class="container" 
                                            images="estimate.Images"
                                        ></format-images>
                                    </div>
                                </div>
                            </li>
                            <li 
                                class="estimate-form-sidebar-list-item accordion-item" 
                                data-accordion-item
                            >
                                <a 
                                    class="estimate-form-sidebar-list-item-title accordion-title"
                                    href="#"
                                    ng-click="initVideos()"
                                >
                                    <b>
                                        <i class="fal fa-video"></i> Video
                                    </b>
                                </a>
                                <div 
                                    class="estimate-form-sidebar-list-item-content accordion-content" 
                                    data-tab-content
                                >
                                    <div class="estimate-form-sidebar-item-videos-container">
                                        <div class="button-group align-right">
                                            <client-video-uploader 
                                                client-id="{{estimate.Client.id}}"
                                                estimate-id="{{estimate.id}}"
                                            ></client-video-uploader>
                                        </div>
                                        <format-videos 
                                            class="container" 
                                            videos="estimate.Videos"
                                        ></format-videos>
                                    </div>
                                </div>
                            </li>
                          </ul>
                    </div>
                </div>
                <div 
                    class="golura-block cell overflow-scroll"
                    ng-class="{'small-12 medium-12 large-4': !UI.showMemo,
                    'small-12 medium-12 large-3': UI.showMemo}"
                >
                    <div ng-include="'/dist/partials/estimates/view.html'"></div>
                </div>
            </div>
        </form>
    </div>
</div>
<div
    class="estimate-analysis-reveal reveal"
    id="estimateAnalysisReveal"
    data-reveal
    data-close-on-click="false"
>
    <button 
        class="close-button" 
        aria-label="closeEstimateAnalysisReveal" 
        type="button" 
        data-close
    >
        <span aria-hidden="true">
            <i class="fal fa-times-circle"></i>
        </span>
    </button>
    <div 
        class="golura-block"
        ng-include="'dist/partials/estimates/analysis.html'"
    ></div>
</div>
<div
    class="estimate-add-line-item-form-reveal form-reveal reveal large no-padding"
    id="estimateAddLineItemFormReveal"
    data-reveal
    data-close-on-click="false"
>
    <button 
        class="close-button" 
        aria-label="closeAddEstimateLineItemFormReveal" 
        type="button" 
        data-close
    >
        <span aria-hidden="true">
            <i class="fal fa-times-circle"></i>
        </span>
    </button>
    <div 
        class="golura-block"
        ng-include="'dist/forms/estimates/add-line-item-to-estimate-form.html'"
    ></div>
</div>
<div
    class="estimate-line-item-form-reveal reveal"
    id="estimateLineItemFormReveal"
    data-reveal
    data-close-on-click="false"
>
    <button 
        class="close-button" 
        aria-label="closeEstimateLineItemFormReveal" 
        type="button" 
        data-close
    >
        <span aria-hidden="true">
            <i class="fal fa-times-circle"></i>
        </span>
    </button>
    <div 
        class="golura-block"
        ng-include="'dist/forms/estimates/estimate-line-item-form.html'"
    ></div>
</div>