<div class="admin-estimator-container admin-form-container create-edit-container">
    <div class="admin-estimator admin-form-details create-edit grid-container">
        <h1>
            <b ng-if="UI.newEstimator">
                Create Estimator
            </b>
            <b ng-if="!UI.newEstimator">
                Edit Estimator
            </b>
        </h1>
        <form 
            class="estimator-form admin-form golura-form"
            id="estimatorForm"
            name="estimatorForm"
            ng-submit="createEstimator($event, estimator)"
        >
            <div class="grid-x grid-margin-x align-middle">
                <div class="cell small-12 medium-12 large-12">
                    <h2>
                        <b>Details</b>
                    </h2>
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <div 
                        class="input-container"
                        ng-class="{'ssc': !UI.estimatorLoaded}"
                    >
                        <div 
                            class="ssc-square"
                            ng-if="!UI.estimatorLoaded"
                        ></div>
                        <label for="estimatorName">   
                            Title
                            <span class="alert-text">
                                *
                            </span>
                        </label>
                        <input
                            class="form-input"
                            type="text"
                            id="estimatorTitle"
                            name="estimatorTitle"
                            placeholder="Estimator title"
                            ng-model="estimator.title"
                            autocomplete="off"
                            required
                        />
                    </div>
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <div class="input-container">
                        <label>
                            Type
                            <span class="alert-text">
                                *
                            </span>
                        </label>
                        <selectize
                            class="form-input"
                            config="typeOptions"
                            options="eventTypes"
                            id="eventTypes"
                            name="eventTypes"
                            ng-model="estimator.eventTypeId"
                            required
                        >
                        </selectize>
                    </div>   
                </div>  
                <div class="cell small-12 medium-12 large-12">
                    <div class="input-container">
                        <label>   
                            Description
                        </label>
                        <div class="form-textarea-container">
                            <textarea
                                class="form-textarea"
                                id="estimatorDescription"
                                name="estimatorDescriptionTextarea"
                                ng-model="estimator.description"
                            ></textarea>
                        </div>
                    </div>
                </div>       
                <div class="cell small-12 medium-6 large-6 text-left">
                    <button 
                        class="estimator-form-ai-create-button teal button white-text"
                        id="estimatorFormAiCreateButton"
                        type="button"
                        ng-disabled="UI.formSaving ||
                        !estimator.title || !estimator.eventTypeId"
                        ng-class="{'form-saving': UI.formSaving}"
                        ng-click="initEstimatorAIForm(estimator)"
                        ng-if="$root.company.goEsti && !estimator.id"
                    >
                        <span ng-if="!UI.formSaving">
                            <i class="fal fa-sparkles"></i> AI Create
                        </span>
                        <span ng-if="UI.formSaving">
                            Please Wait...
                        </span>
                    </button>
                </div>
                <div class="cell small-12 medium-6 large-6 text-right">
                    <button 
                        class="estimator-form-submit-button submit-button button" 
                        id="estimatorFormSubmitButton"
                        type="submit"
                        ng-disabled="UI.formSaving ||
                        !estimator.title || !estimator.eventTypeId"
                        ng-class="{'form-saving': UI.formSaving}"
                        ng-if="UI.estimatorLoaded && UI.newEstimator"
                    >
                        <span ng-if="!UI.formSaving">
                            <i class="fal fa-save"></i> Save
                        </span>
                        <span ng-if="UI.formSaving">
                            Please Wait...
                        </span>
                    </button>
                    <button 
                        class="user-form-edit-submit-button submit-button button" 
                        id="estimatorFormUpdateButton"
                        type="button"
                        ng-disabled="UI.formSaving ||
                        !estimator.title || !estimator.eventTypeId"
                        ng-class="{'form-saving': UI.formSaving}"
                        ng-click="updateEstimator(estimator)"
                        ng-if="UI.estimatorLoaded && !UI.newEstimator"
                    >
                        <span ng-if="!UI.formSaving">
                            <i class="fal fa-check-circle"></i> Update
                        </span>
                        <span ng-if="UI.formSaving">
                            Please Wait...
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>