<div class="admin-invoice-settings-container admin-form-container">
    <div class="admin-invoice-settings admin-form-details">
        <h1>
            <b>
                Invoice Settings
            </b>
        </h1>
        <form 
            class="invoice-settings-form admin-form golura-form"
            id="invoiceSettingsForm"
            name="invoiceSettingsForm"
            ng-submit="updateInvoiceSettings($event, invoice)"
        >
            <div class="grid-x grid-margin-x align-middle">
                <div class="cell small-12 medium-12 large-12">
                    <h2>
                        <b>Defaults</b>
                    </h2>
                </div>
                <div class="cell small-12 medium-6 large-6">
                    <div 
                        class="input-container"
                        ng-class="{'ssc': !UI.invoiceSettingsLoaded}"
                    >
                        <div 
                            class="ssc-square"
                            ng-if="!UI.invoiceSettingsLoaded"
                        ></div>
                        <label for="defaultMarkup">
                            Default Markup
                        </label>
                        <input
                            class="form-input"
                            type="number"
                            id="defaultMarkup"
                            name="defaultMarkup"
                            placeholder="Enter default markup"
                            ng-model="invoice.invoiceDefaultMarkup"
                            required
                        />
                    </div>
                </div>
                <div class="cell small-12 medium-6 large-6">
                    <div 
                        class="input-container"
                        ng-class="{'ssc': !UI.invoiceSettingsLoaded}"
                    >
                        <div 
                            class="ssc-square"
                            ng-if="!UI.invoiceSettingsLoaded"
                        ></div>
                        <label for="defaultSalesTaxRate">
                            Default Sales Tax Rate
                        </label>
                        <input
                            class="form-input"
                            type="number"
                            step="0.01"
                            id="defaultSalesTaxRate"
                            name="defaultSalesTaxRate"
                            placeholder="Enter default sales tax rate"
                            ng-model="invoice.invoiceDefaultSalesTaxRate"
                            required
                        />
                    </div>
                </div>
                <div class="cell small-12 medium-12 large-12 text-right">
                    <button 
                        class="invoice-settings-submit-button submit-button button" 
                        id="invoiceSettingsSubmitButton"
                        type="submit"
                        ng-disabled="UI.formSaving"
                        ng-class="{'form-saving': UI.formSaving}"
                    >
                        <span ng-if="!UI.formSaving">
                            <i class="fal fa-check-circle"></i> Update
                        </span>
                        <span ng-if="UI.formSaving">
                            Please Wait...
                        </span>
                    </button>
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <hr/>
                    <h2>
                        <b>Preferences</b>
                    </h2>
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <div class="invoice-form-select-button-container select-container">
                        <div class="grid-x grid-margin-x align-middle">
                            <div class="cell shrink text-right">
                                <button 
                                    class="invoice-form-select-button select-button button"
                                    type="button"
                                    aria-label="invoice email button"
                                    ng-click="invoice.invoiceEmailNotification = !invoice.invoiceEmailNotification"
                                    ng-class="{'selected': invoice.invoiceEmailNotification}"
                                >
                                    <div 
                                        class="check-icon"
                                        ng-if="invoice.invoiceEmailNotification"
                                    >
                                        <i class="fal fa-check"></i>
                                    </div>
                                </button>
                            </div>
                            <div class="cell auto">
                                <span>
                                    Email Notification
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <div class="invoice-form-select-button-container select-container">
                        <div class="grid-x grid-margin-x align-middle">
                            <div class="cell shrink text-right">
                                <button 
                                    class="invoice-form-select-button select-button button"
                                    type="button"
                                    aria-label="invoice email button"
                                    ng-click="invoice.invoiceCallNotification = !invoice.invoiceCallNotification"
                                    ng-class="{'selected': invoice.invoiceCallNotification}"
                                >
                                    <div 
                                        class="check-icon"
                                        ng-if="invoice.invoiceCallNotification"
                                    >
                                        <i class="fal fa-check"></i>
                                    </div>
                                </button>
                            </div>
                            <div class="cell auto">
                                <span>
                                    Call Notification
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div 
                    class="cell small-12 medium-12 large-12"
                    ng-if="invoice.invoiceEmailNotification"
                >
                    <div class="grid-x grid-margin-x align-middle">
                        <div class="cell small-12 medium-8 large-8">
                            <div 
                                class="input-container"
                                ng-class="{'ssc': !UI.invoiceSettingsLoaded}"
                            >
                                <div 
                                    class="ssc-square"
                                    ng-if="!UI.invoiceSettingsLoaded"
                                ></div>
                                <label for="emailDate">
                                    Email Notification Delay
                                </label>
                                <input
                                    class="form-input"
                                    type="text"
                                    id="emailDate"
                                    name="emailDate"
                                    placeholder="e.g., 5 days"
                                    ng-model="invoice.invoiceCallNotificationDelay"
                                />
                            </div>
                        </div>
                        <div class="cell small-12 medium-4 large-4">
                            <div 
                                class="input-container"
                                ng-class="{'ssc': !UI.invoiceSettingsLoaded}"
                            >
                                <label for="invoiceEmailNotificationDelayTimeType">
                                    Email Notification Delay
                                </label>
                                <div 
                                    class="ssc-square"
                                    ng-if="!UI.invoiceSettingsLoaded"
                                ></div>
                                <selectize
                                    class="form-input"
                                    config="timeTypeOptions"
                                    options="timeTypes"
                                    id="invoiceEmailNotificationDelayTimeType"
                                    name="invoiceEmailNotificationDelayTimeType"
                                    ng-model="invoice.invoiceEmailNotificationDelayTimeType"
                                >
                                </selectize>
                            </div>
                        </div>
                    </div>
                </div>             
                <div 
                    class="cell small-12 medium-12 large-12"
                    ng-if="invoice.invoiceCallNotification"
                >
                    <div class="grid-x grid-margin-x align-middle">
                        <div class="cell small-12 medium-8 large-8">
                            <div 
                                class="input-container"
                                ng-class="{'ssc': !UI.invoiceSettingsLoaded}"
                            >
                                <div 
                                    class="ssc-square"
                                    ng-if="!UI.invoiceSettingsLoaded"
                                ></div>
                                <label for="callDate">
                                    Call Notification Delay
                                </label>
                                <input
                                    class="form-input"
                                    type="text"
                                    id="callDate"
                                    name="callDate"
                                    placeholder="e.g., 5 days"
                                    ng-model="invoice.invoiceCallNotificationDelay"
                                />
                            </div>
                        </div>
                        <div class="cell small-12 medium-4 large-4">
                            <div 
                                class="input-container"
                                ng-class="{'ssc': !UI.invoiceSettingsLoaded}"
                            >
                                <label for="invoiceCallNotificationDelayTimeType">
                                    Call Notification Delay
                                </label>
                                <div 
                                    class="ssc-square"
                                    ng-if="!UI.invoiceSettingsLoaded"
                                ></div>
                                <selectize
                                    class="form-input"
                                    config="timeTypeOptions"
                                    options="timeTypes"
                                    id="invoiceCallNotificationDelayTimeType"
                                    name="invoiceCallNotificationDelayTimeType"
                                    ng-model="invoice.invoiceCallNotificationDelayTimeType"
                                >
                                </selectize>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell small-12 medium-12 large-12 text-right">
                    <button 
                        class="invoice-settings-submit-button submit-button button" 
                        id="invoiceSettingsSubmitButton"
                        type="submit"
                        ng-disabled="UI.formSaving"
                        ng-class="{'form-saving': UI.formSaving}"
                    >
                        <span ng-if="!UI.formSaving">
                            <i class="fal fa-check-circle"></i> Update
                        </span>
                        <span ng-if="UI.formSaving">
                            Please Wait...
                        </span>
                    </button>
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <hr/>
                    <h2>
                        <b>Terms And Conditions</b>
                    </h2>
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <div 
                        class="golura-rich-text-editor"
                        id="invoiceTermsAndConditions"
                        rich-text-editor 
                        ng-model="invoice.invoiceTermsAndConditions"
                    ></div>
                </div>
                <div class="cell small-12 medium-12 large-12 text-right">
                    <button 
                        class="invoice-settings-submit-button submit-button button" 
                        id="invoiceSettingsSubmitButton"
                        type="submit"
                        ng-disabled="UI.formSaving"
                        ng-class="{'form-saving': UI.formSaving}"
                    >
                        <span ng-if="!UI.formSaving">
                            <i class="fal fa-check-circle"></i> Update
                        </span>
                        <span ng-if="UI.formSaving">
                            Please Wait...
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>