<div class="estimate-preview-container">
    <div class="estimate-preview">
        <div class="estimate-preview-details-container text-center">
            <div class="estimate-preview-details">
                <div class="estimate-preview-icon-container">
                    <i class="fad fa-mountain-sun"></i>
                </div>
                <h2>
                    <span><b>Click On the View Button</b></span>
                    <br/>
                    to view the 
                    <b>
                        Estimate
                    </b>
                </h2>
            </div>
        </div>
    </div>
</div>