<div 
    class="inventory-areas-container"
    ng-init="initInventoryAreas()"
>
    <div class="inventory-areas">
        <div class="golura-block grid-y">
            <div class="cell shrink position-relative">
                <div class="inventory-areas-search-container list-search-container">
                    <div class="inventory-areas-search list-search">
                        <div class="search-input-container">
                            <div class="grid-x align-middle">
                                <div class="cell shrink">
                                    <div class="inventory-areas-search-create-button-container create-button-container">
                                        <a 
                                            class="inventory-areas-create-button create-button submit-button button warning white-text" 
                                            ng-click="$root.goBack()"
                                        >
                                            <i class="fal fa-circle-arrow-left"></i> 
                                            <span ng-if="!$root.UI.isMobile">
                                                Back
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="cell auto align-self-bottom">
                                    <input
                                        class="inventory-areas-search-input search-input"
                                        id="inventoryAreasSearchInput" 
                                        type="text"
                                        placeholder="Search inventory areas..."
                                        ng-model="search.inventoryAreas.value"
                                    />
                                </div>
                                <div class="cell shrink align-self-bottom">
                                    <span class="search-icon">
                                        <i class="fal fa-search"></i>
                                    </span>
                                </div>
                                <div 
                                    class="cell shrink"
                                    ng-if="permissions.canCreate"
                                >
                                    <div class="inventory-areas-search-create-button-container create-button-container">
                                        <button 
                                            class="inventory-areas-search-create-button submit-button create-button button success white-text" 
                                            id="inventoryAreasSearchCreateButton"
                                            type="button"
                                            data-open="inventoryAreaCreationReveal"
                                        >
                                            <i class="fal fa-layer-plus"></i> 
                                            <span ng-if="!$root.UI.isMobile">
                                                Create
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div 
                class="cell shrink"
                ng-if="!$root.UI.isMobile"
            >
                <div class="inventory-areas-list-header-container list-header-container">
                    <div class="inventory-areas-list-header list-header">
                        <div class="grid-x grid-padding-x align-middle align-left">
                            <div class="cell small-12 medium-2 large-2">
                                <h3>
                                    <b>ID</b>
                                </h3>
                            </div>
                            <div class="cell small-12 medium-4 large-4">
                                <h3>
                                    <b>Name</b>
                                </h3>
                            </div>
                            <div class="cell small-12 medium-4 large-4">
                                <h3>
                                    <b>Created</b>
                                </h3>
                            </div>
                            <div 
                                class="cell small-12 medium-shrink large-shrink"
                                ng-if="permissions.canCreate"
                            >
                                <h3 class="list-header-options">
                                    <b>Options</b>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell auto overflow-scroll">
                <div class="inventory-areas-list-container list-container">
                    <ul 
                        class="inventory-areas-list list"
                        id="inventoryAreasList"
                    >
                        <li ng-if="!UI.inventoryAreasLoaded">
                            <div class="ssc inventory-areas-ssc">
                                <div 
                                    class="ssc-square"
                                    ng-repeat="x in [].constructor(40) track by $index"
                                ></div>
                            </div>
                        </li>
                        <li
                            class="inventory-areas-list-item list-item position-relative"
                            ng-repeat="area in filteredInventoryAreas = 
                            (inventoryAreas | filter:search.inventoryAreas.value) |
                            orderBy: sort.inventoryAreas.value |
                            limitTo: UI.inventoryAreasDisplayed track by $index"
                            ng-class="{'selected': area.selected}"
                        >
                            <div class="grid-x grid-padding-x align-middle">
                                <div class="cell small-12 medium-2 large-2">
                                    <h6>
                                        #{{area.id}}
                                    </h6>
                                </div>
                                <div class="cell small-12 medium-4 large-4">
                                    <h6 class="inventory-areas-list-item-role text-capitalize">
                                        {{area.name}}
                                    </h6>
                                </div>
                                <div class="cell small-12 medium-4 large-4">
                                    <h6>
                                        {{area.createdAt | DateTimeFormat}}
                                    </h6>
                                </div>
                                <div class="cell small-12 medium-shrink large-shrink">
                                    <div class="list-item-options-container">
                                        <a 
                                            class="list-item-options-button button white-text"
                                            ng-href="inventory/areas/area/{{area.id}}"
                                            ng-if="permissions.canEdit"
                                            ng-cloak
                                        >
                                            <i class="fal fa-edit"></i> Edit
                                        </a>
                                        <button 
                                            class="list-item-options-button button alert white-text"
                                            type="button"
                                            ng-click="area.delete = !area.delete"
                                            ng-if="permissions.canArchive"
                                        >
                                            <i class="fal fa-archive"></i> Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div 
                                class="inventory-areas-list-item-delete-container list-item-delete-container black-overlay"
                                ng-if="area.delete"
                            >
                                <div class="grid-x grid-padding-x align-middle">
                                    <div class="cell small-12 medium-auto large-auto text-center">
                                        <h4>
                                            <b class="alert-text">Warning: </b>
                                            <span class="white-text">Are you sure you want to delete 
                                                this area?
                                            </span>
                                        </h4>
                                    </div>
                                    <div class="cell small-12 medium-auto large-auto">
                                        <button 
                                            class="list-item-options-button button alert white-text"
                                            id="inventoryAreaFormSubmitButton"
                                            type="button"
                                            ng-disabled="UI.formSaving"
                                            ng-class="{'form-alert': UI.formSaving}"
                                            ng-click="deleteInventoryArea(area)"
                                        >
                                            <span ng-if="!UI.formSaving">
                                                <i class="fal fa-check-circle"></i> Confirm
                                            </span>
                                            <span ng-if="UI.formSaving">
                                                Please Wait...
                                            </span>
                                        </button>
                                        <button 
                                            class="list-item-options-button button warning white-text"
                                            type="button"
                                            ng-click="area.delete = !area.delete"
                                        >
                                            <i class="fal fa-times-circle"></i> Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li 
                            class="inventory-areas-list-infinite-scroll text-center"
                            id="inventoryAreasListInfiniteScroll"
                            ng-init="initInventoryAreaInfiniteScroll()"
                            ng-show="filteredInventoryAreas.length > 20"
                            ng-click="updateInventoryAreasDisplayed()"
                        >
                            <div class="dispatch-loader"></div>
                        </li>
                        <li 
                            class="list-empty text-center"
                            ng-show="!filteredInventoryAreas.length"
                        >
                            <div class="grid-container">
                                <h3>
                                    <b>Oops! </b>
                                    Looks like we can't find them!
                                    <br/>
                                    if you still can't find the Area you're looking, 
                                    try to double check your spelling!
                                </h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div
    class="inventory-area-creation-reveal reveal"
    id="inventoryAreaCreationReveal"
    data-reveal
    data-close-on-click="false"
>
    <button 
        class="close-button" 
        aria-label="closeInventoryAreaFormReveal" 
        type="button" 
        data-close
        ng-click="UI.createInventory = !UI.createInventory"
    >
        <span aria-hidden="true">
            <i class="fal fa-times-circle"></i>
        </span>
    </button>
    <div 
        class="inventory-area-creation-form-container golura-form-container"
        ng-include="'dist/forms/inventory/inventory-area-form.html'"
    >
    </div>
</div>
