<div 
    class="inventory-rows-container"
    ng-init="initInventoryRows()"
>
    <div class="inventory-rows">
        <div class="golura-block grid-y">
            <div class="cell shrink position-relative">
                <div class="inventory-rows-search-container list-search-container">
                    <div class="inventory-rows-search list-search">
                        <div class="search-input-container">
                            <div class="grid-x align-middle">
                                <div class="cell shrink">
                                    <div class="inventory-rows-search-create-button-container create-button-container">
                                        <a 
                                            class="inventory-rows-create-button create-button submit-button button warning white-text" 
                                            ng-click="$root.goBack()"
                                        >
                                            <i class="fal fa-circle-arrow-left"></i> Back
                                        </a>
                                    </div>
                                </div>
                                <div class="cell auto align-self-bottom">
                                    <input
                                        class="inventory-rows-search-input search-input"
                                        id="inventoryRowsSearchInput" 
                                        type="text"
                                        placeholder="Search inventory rows..."
                                        ng-model="search.inventoryRows.value"
                                    />
                                </div>
                                <div class="cell shrink align-self-bottom">
                                    <span class="search-icon">
                                        <i class="fal fa-search"></i>
                                    </span>
                                </div>
                                <div class="cell shrink">
                                    <div class="cell shrink">
                                        <div class="sort-input-container">
                                            <div class="grid-x">
                                                <div class="cell auto">
                                                    <selectize
                                                        class="inventory-rows-search-sort-input form-input sort-input"
                                                        id="inventoryRowsSearchSortInput"
                                                        config="sortOptions"
                                                        options="inventoryRowsOptions"
                                                        ng-model="sort.inventoryRows.id"
                                                        ng-change="orderBy(sort.inventoryRows.id)"
                                                        ng-cloak
                                                    >
                                                    </selectize>
                                                </div>
                                                <div class="cell shrink">
                                                    <span class="sort-icon">
                                                        <i class="fal fa-sort"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div 
                                    class="cell shrink"
                                    ng-if="permissions.canCreate"
                                >
                                    <div class="inventory-rows-search-create-button-container create-button-container">
                                        <a 
                                            class="inventory-rows-search-create-button submit-button create-button button success white-text" 
                                            id="inventoryRowsSearchCreateButton"
                                            type="button"
                                            ng-href="inventory/rows/row"
                                        >
                                            <i class="fal fa-layer-plus"></i> Create
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell shrink">
                <div class="inventory-rows-list-header-container list-header-container">
                    <div class="inventory-rows-list-header list-header">
                        <div class="grid-x grid-padding-x align-middle align-left">
                            <div class="cell small-12 medium-2 large-2">
                                <h3>
                                    <b>ID</b>
                                </h3>
                            </div>
                            <div class="cell small-12 medium-4 large-4">
                                <h3>
                                    <b>Name</b>
                                </h3>
                            </div>
                            <div class="cell small-12 medium-4 large-4">
                                <h3>
                                    <b>Created</b>
                                </h3>
                            </div>
                            <div 
                                class="cell small-12 medium-shrink large-shrink"
                                ng-if="permissions.canCreate"
                            >
                                <h3 class="list-header-options">
                                    <b>Options</b>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell auto overflow-scroll">
                <div class="inventory-rows-list-container list-container">
                    <ul 
                        class="inventory-rows-list list"
                        id="inventoryRowsList"
                    >
                        <li ng-if="!UI.inventoryRowsLoaded">
                            <div class="ssc inventory-rows-ssc">
                                <div 
                                    class="ssc-square"
                                    ng-repeat="x in [].constructor(40) track by $index"
                                ></div>
                            </div>
                        </li>
                        <li
                            class="inventory-rows-list-item list-item position-relative"
                            ng-repeat="row in filteredInventoryRows = 
                            (inventoryRows | filter:search.inventoryRows.value) |
                            orderBy: sort.inventoryRows.value |
                            limitTo: UI.inventoryRowsDisplayed track by $index"
                            ng-class="{'selected': row.selected}"
                        >
                            <div class="grid-x grid-padding-x align-middle">
                                <div class="cell small-12 medium-2 large-2">
                                    <h6>
                                        #{{row.id}}
                                    </h6>
                                </div>
                                <div class="cell small-12 medium-4 large-4">
                                    <h6 class="inventory-rows-list-item-role text-capitalize">
                                        {{row.name}}
                                    </h6>
                                </div>
                                <div class="cell small-12 medium-4 large-4">
                                    <h6>
                                        {{row.createdAt | DateTimeFormat}}
                                    </h6>
                                </div>
                                <div class="cell small-12 medium-shrink large-shrink">
                                    <div class="list-item-options-container">
                                        <a 
                                            class="list-item-options-button button white-text"
                                            ng-href="inventory/rows/row/{{row.id}}"
                                            ng-if="permissions.canEdit"
                                            ng-cloak
                                        >
                                            <i class="fal fa-edit"></i> Edit
                                        </a>
                                        <button 
                                            class="list-item-options-button button alert white-text"
                                            type="button"
                                            ng-click="row.delete = !row.delete"
                                            ng-if="permissions.canArchive"
                                        >
                                            <i class="fal fa-archive"></i> Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div 
                                class="inventory-rows-list-item-delete-container list-item-delete-container black-overlay"
                                ng-if="row.delete"
                            >
                                <div class="grid-x grid-padding-x align-middle">
                                    <div class="cell small-12 medium-auto large-auto text-center">
                                        <h4>
                                            <b class="alert-text">Warning: </b>
                                            <span class="white-text">Are you sure you want to delete 
                                                this row?
                                            </span>
                                        </h4>
                                    </div>
                                    <div class="cell small-12 medium-auto large-auto">
                                        <button 
                                            class="list-item-options-button button alert white-text"
                                            id="inventoryRowFormSubmitButton"
                                            type="button"
                                            ng-disabled="UI.formSaving"
                                            ng-class="{'form-alert': UI.formSaving}"
                                            ng-click="deleteInventoryRow(row)"
                                        >
                                            <span ng-if="!UI.formSaving">
                                                <i class="fal fa-check-circle"></i> Confirm
                                            </span>
                                            <span ng-if="UI.formSaving">
                                                Please Wait...
                                            </span>
                                        </button>
                                        <button 
                                            class="list-item-options-button button warning white-text"
                                            type="button"
                                            ng-click="row.delete = !row.delete"
                                        >
                                            <i class="fal fa-times-circle"></i> Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li 
                            class="inventory-rows-list-infinite-scroll text-center"
                            id="inventoryRowsListInfiniteScroll"
                            ng-init="initInventoryRowInfiniteScroll()"
                            ng-show="filteredInventoryRows.length > 20"
                            ng-click="updateInventoryRowsDisplayed()"
                        >
                            <div class="dispatch-loader"></div>
                        </li>
                        <li 
                            class="list-empty text-center"
                            ng-show="!filteredInventoryRows.length"
                        >
                            <div class="grid-container">
                                <h3>
                                    <b>Oops! </b>
                                    Looks like we can't find them!
                                    <br/>
                                    if you still can't find the Row you're looking, 
                                    try to double check your spelling!
                                </h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
